.card IMG { position: relative; }


   .czech { left: 200px; top: 125px; }
   
   
   .demin { left: 250px; top: 350px; }
   
   .france { left: 250px; top: 500px; }
   
   .firsova { left: 350px; top: 700px; }
   
   .rogovaya { left: 350px; top: 900px; }
   
   .thailand { left: 400px; top: 1200px; }
   
   .smolov { left: 450px; top: 1400px; }