.about-service {
  //padding: 70px 25px 100px 25px;
  //padding-top: 50px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding-top: 260px;
  position: relative;
  z-index: 10;
  background-color: $color-dark-blue-1;
  //height: 632px;

  @media (min-width: $tablet-width) {
    padding-top: 100px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 50px;
  }
}

.about-service__container {
  margin-bottom: 0;
  background: url("../img/about-mobile@1x.png") bottom 0 right 10px no-repeat;
  background-size: 320px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/about-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    background: url("../img/about-tablet@1x.png") right 5% top 60% no-repeat;
    //background-color: $color-dark-blue-1;
    //padding: 0 40px 70px;
    //min-height: 780px;
    background-size: 420px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/about-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 660px;
    background: url("../img/about-desktop@1x.png") no-repeat right 50px bottom 0;
    //background-color: $color-dark-blue-1;
    //padding: 60px 0 110px 90px;
    background-size: 620px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/about-desktop@2x.png");
    }
  }

  &::before {
    content: "";
    width: 113px;
    height: 132px;
    position: absolute;
    left: 0;
    top: 300px;
    z-index: -1;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: $color-blue-figure;

    @media (min-width: $tablet-width) {
      width: 688px;
      height: 213px;
      left: 40px;
      top: 200px;
      border-radius: 20px;
      z-index: -1;
    }

    @media (min-width: $desktop-width) {
      width: 213px;
      left: 60px;
      top: 100px;
    }
  }
}

.about-service__title {
  @include orange-title;
  padding-bottom: 25px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 50px;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-top: 50px;

    @include orange-title-tabdesc;
  }

  @media (min-width: $desktop-width) {
    padding-top: 50px;
  }
}

.about-service__description {
  padding-bottom: 25px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0;

  &:last-of-type {
    font-weight: 700;
    padding-bottom: 85px;

    @media (min-width: $tablet-width) {
      padding-top: 30px;
      max-width: 300px;
      font-size: 21px;
      line-height: 25px;
    }

    @media (min-width: $desktop-width) {
      max-width: 415px;
    }
  }

  &:first-of-type {
    @media (min-width: $tablet-width) {
      padding-top: 50px;
      max-width: 360px;
      font-size: 28px;
      line-height: 33px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 50px;
      max-width: 620px;
      font-size: 28px;
      line-height: 33px;
    }
  }
}

.about-service__button {
  display: none;
  position: relative;

  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 55px;
    padding: 30px 120px 30px 30px;
    background-color: $color-yellow-1;
    color: $color-dark-blue-2;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    max-width: 275px;
    border-radius: 15px;
    margin-left: 30px;
  }

  svg {
    position: absolute;
    fill: $color-dark-blue-2;
    margin-left: 50px;
  }

  &:active svg {
    opacity: 30%;
  }
}
