.address {
  z-index: 5;
  position: relative;
  margin-top: -15px;

  @media (min-width: $tablet-width) {
    margin-top: -25px;
  }
}

.address__description {
  margin: 0;
  color: $color-dark-blue-1;
  font-weight: 700;
  text-transform: uppercase;
  padding-right: 30px;
  margin-bottom: 33px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 28px;
    padding-right: 95px;
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
    margin-bottom: 0;
    align-self: center;
  }
}

.address__location-span {
  position: relative;
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: $color-dark-blue-3;
  padding-right: 40px;
  margin-right: 18px;

  @media (min-width: $tablet-width) {
    width: 67px;
    height: 67px;
  }

  @media (min-width: $desktop-width) {
    width: 90px;
    height: 90px;
    margin-right: 30px;
  }

  svg {
    fill: $color-yellow-1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (min-width: $tablet-width) {
      transform: translate(-50%, -50%) scale(1.5);
    }

    @media (min-width: $desktop-width) {
      transform: translate(-50%, -50%) scale(1.8);
    }
  }
}

.address__content {
  background-color: $color-yellow-1;
  padding: 47px 25px 36px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: relative;
  z-index: 5;

  @media (min-width: $tablet-width) {
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    padding: 75px 75px 86px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 132px 50px 284px;
  }
}

.address__content a {
  @include blue-link-caption;
  border: 2px solid $color-blue-black;
  padding: 19px 20px 19px 23px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    border-radius: 20px;
    padding: 25px 35px 25px 35px;
    //display: block;
    width: 100%;
    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    max-width: 324px;
    padding: 25px 34px 25px 33px;
  }
}

.address__map {
  width: 100%;
  height: 360px;
  background-image: url("../img/map-marker.svg"), url("../img/map-mobile@1x.jpg");
  background-position: 50% 30%, bottom center;
  background-size: 41px 41px, auto;
  background-repeat: no-repeat, no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/map-marker.svg"), url("../img/map-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    height: 546px;
    background-image: url("../img/map-marker.svg"), url("../img/map-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-marker.svg"), url("../img/map-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    //height: 750px;
    background-image: url("../img/map-marker.svg"), url("../img/map-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-marker.svg"), url("../img/map-desktop@2x.jpg");
    }
  }
}

.address iframe {
  width: 100%;
  border: none;
  //height: 546px;
  height: 360px;
  position: relative;
  z-index: 4;
  top: -25px;

  @media (min-width: $tablet-width) {
    height: 546px;
  }

  @media (min-width: $desktop-width) {
    //height: 750px;
  }
}

.address__route-link {
  color: $color-dark-blue-1;

  &:hover,
  &:focus {
    color: $color-white;
    background-color: $color-dark-blue-1;

    svg {
      fill: $color-white;
    }
  }

  &:active {
    background-color: $color-dark-blue-1;
    color: rgba(255, 255, 255, 0.3);
  }

  &:active svg {
    opacity: 30%;
  }

  svg {
    fill: $color-dark-blue-1;
    //margin-left: 42px;
  }
}
