.address {
  background-color: $color-yellow-1;
}

.address__description {
  @include margintb0;
  color: $color-dark-blue-1;
  font-weight: 700;
  text-transform: uppercase;
}

.address__content {
  padding: 25px;
}

.address__content a {
  @include blue-link-caption;
}

.address__map {
  width: 100%;
}

.address iframe {
  width: 100%;
  border: none;
}
