.address {
  z-index: 5;
  position: relative;
  margin-top: -15px;
}

.address__description {
  margin: 0;
  color: $color-dark-blue-1;
  font-weight: 700;
  text-transform: uppercase;
  padding-right: 30px;
  margin-bottom: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 28px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 145px;
    margin-bottom: 0;
    align-self: center;
  }
}

.address__location-span {
  position: relative;
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: $color-dark-blue-3;
  padding-right: 40px;
  margin-right: 20px;

  svg {
    fill: $color-yellow-1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.address__content {
  background-color: $color-yellow-1;
  padding: 35px 25px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
  z-index: 5;

  @media (min-width: $tablet-width) {
    padding: 45px 75px 86px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    //width: 100%;
    //align-content: flex-end;
    justify-content: flex-end;
    padding: 50px 132px 50px 284px;
  }
}

.address__content a {
  @include blue-link-caption;
  border: 2px solid $color-blue-black;
  padding: 20px 0 20px 24px;
  display: block;
  width: 100%;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    display: block;
    width: 100%;
    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    max-width: 322px;
  }
}

.address__map {
  width: 100%;
  height: 546px;
  background-image: url("../img/map-marker.svg"), url("../img/map-mobile@1x.jpg");
  background-position: 50% 30%, bottom center;
  background-size: 41px 41px, auto;
  background-repeat: no-repeat, no-repeat;

  @media (min-width: $tablet-width) {
    background-image: url("../img/map-marker.svg"), url("../img/map-tablet@1x.jpg");
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/map-marker.svg"), url("../img/map-desktop@1x.jpg");
  }
}

.address iframe {
  width: 100%;
  border: none;
  height: 546px;
  position: relative;
  z-index: 4;
  top: -15px;
}

.address__route-link {
  color: $color-dark-blue-1;

  &:hover,
  &:focus {
    color: $color-white;
    background-color: $color-dark-blue-1;

    svg {
      fill: $color-white;
    }
  }

  &:active {
    background-color: $color-dark-blue-1;
    color: rgba(255, 255, 255, 0.3);
  }

  &:active svg {
    opacity: 30%;
  }

  svg {
    fill: $color-dark-blue-1;
  }
}
