.alphabet-table {
  text-align: center;
  margin: 0 auto;
  border-collapse: collapse;

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }
}

.alphabet-table td {
  width: 50px;
  height: 50px;
  border: 1px solid $color-greyborder;
}

.alphabet-list__item {
  &--active {
    background-color: $color-dark-blue-1;
  }
}

.alphabet-list__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: $color-dark-blue-1;
  text-transform: uppercase;
}

.alphabet-list__link--active {
  color: $color-white;
  background-color: $color-dark-blue-1;
}
