.alphabet-table {
  text-align: center;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: $color-white;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    background-color: $color-pale-grey-four;
  }

  @media (min-width: $desktop-width) {
    //display: none;
  }

  &--catalog {
    margin-left: 0;
    margin-right: 0;
  }
}

.alphabet-table td {
  width: 43px;
  height: 40px;
  border: 1px solid $color-greyborder;

  @media (min-width: $tablet-width) {
    border: none;
    text-align: left;
    padding: 0;
    width: 76px;
    height: 83px;
  }
}

.alphabet-table__item {
  &--active {
    background-color: $color-dark-blue-1;

    @media (min-width: $tablet-width) {
      background-color: $color-pale-grey-four;
    }
  }
}

.alphabet-table__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: $color-dark-blue-1;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    font-weight: 700;
    line-height: 24px;
    color: $color-pale-grey-3;
  }
}

.alphabet-table__link--active {
  color: $color-white;
  background-color: $color-dark-blue-1;

  @media (min-width: $tablet-width) {
    color: $color-dark-blue-1;
    background-color: $color-pale-grey-four;
  }
}

/*
.alphabet-table--form .alphabet-table__link--active {
  background-color: $color-pale-grey;
}
*/
