.burger-menu {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.burger-menu__close {
  border: none;
  background-color: transparent;
  display: none;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.burger-menu__button {
  width: 25px;
  height: 11px;
  cursor: pointer;
  //z-index: 1;
  background-color: transparent;
  border: none;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }

  svg {
    fill: $color-white;
  }
}
