.business-tariff {
  background-color: $color-white;
  color: $color-grey-dark;
  min-width: 269px;
  margin: 0 auto;
  padding: 0 25px 0 25px;
}

.business-tariff__title {
  color: $color-orange-1;

  @include margintb0;
}

.business-tariff__list {
  @include list-style;
}
