.business-tariff {
  background-color: #edeff6;
  color: $color-grey-dark;
  min-width: 269px;
  margin: 0 auto;
  padding: 25px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.business-tariff__content {
  padding: 30px 25px 20px;
  background-color: $color-white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.business-tariff__title {
  color: $color-orange-1;
  margin: 0;
  text-align: center;
}

.business-tariff__list {
  @include list-style;
}

.business-tariff__item {
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid $color-pale-grey-4;
}

.business-tariff button {
  border: none;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: $color-dark-slate-blue;
  text-transform: uppercase;
  padding: 17px 0;
  background-color: #f3f4f8;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.business-tariff__table {
  padding: 33px 25px;
  //border-collapse: collapse;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: $color-white;

  @include side-shadow;
}

.business-tariff__table td {
  border-top: 1px solid #edeff6;
  padding: 10px 60px 10px 0;

  &:last-of-type {
    border-bottom: 1px solid #edeff6;
  }
}
