/**************************************************************************************
***************************************COMPANIONS CATALOG******************************
***************************************************************************************/
.companions-catalog {
  color: $color-grey-dark;
  padding: 0 25px 25px 25px;
  background-color: $color-pale-grey;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    order: -1;
  }
}

.card {
  @media (min-width: $tablet-width) {
    width: 688px;
    position: relative;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    //background: lightcoral;
  }

  @media (min-width: $desktop-width) {
    width: 950px;
  }
}


.companions-catalog__list,
.companions-catalog__hashtag-list,
.companions-catalog__countries-list {
  list-style: none;
  padding-left: 0;
}

.companions-catalog__countries-item {
  @media (min-width: $tablet-width) {
    display: inline;
  }
}


.companions-catalog__countries-list {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
  }
}

/*
.companions-catalog__list {
  margin-top: 0;
  border-radius: 20px;
}

.companions-catalog__list-item {
  display: block;
  padding: 25px 0;
  margin-top: 16px;
  margin-bottom: 16px;
  border-radius: 20px;
  background-color: $color-white;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.companions-catalog__user-box {
  display: flex;
  flex-wrap: wrap;
  padding-left: 18px;

  @media (min-width: $tablet-width) {
    display: flex;
    order: -1;
    align-items: flex-start;
    margin-right: 0;
  }
}
*/

.companions-catalog__photo {
  border-radius: 100px;
  margin-right: 16px;

  @media (min-width: $tablet-width) {
    display: block;
    width: 190px;
    height: 190px;
    margin-left: 7px;
    margin-top: 3px;
    //background: lightgreen;
    //margin-right: 50px;
  }
}

.companions-catalog__name {
  @include margintb0;
  max-width: 110px;

  @media (min-width: $tablet-width) {
    width: auto;
    max-width: 335px;
    order: 1;
    padding-right: 30px;
    margin-left: 34px;
    margin-bottom: 167px;
    //margin-left: 100px;
    //max-width: 150px;
  }

  @media (min-width: $desktop-width) {
    order: 1;
    margin-left: 60px;
    margin-top: 46px;
    margin-bottom: 209px;
    width: 331px;
  }
}

.companions-catalog__name a {
  color: $color-dark-slate-blue;
}

.companions-catalog__likes {
  @include margintb0;
  align-self: flex-end;
  margin-left: -110px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: $color-blue-black-2;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    order: 4;
    padding-left: 0;
    margin: -63px 50px 0 0;
    //margin-bottom: 50px;
    //margin-top: 0;
    //align-self: flex-end;
    //margin-right: 0;
    //margin-left: 450px;
  }

  @media (min-width: $desktop-width) {
    order: 4;
    margin-top: -144px;
    width: 187px;
  }
}

.companions-catalog__hashtag-list {
  display: flex;
  flex-wrap: wrap;
  width: 160px;

  @media (min-width: $tablet-width) {
    order: 3;
    padding-right: 0;
    margin-left: 227px;
    margin-top: -153px;
    margin-bottom: 100px;
    width: 220px;
    //flex-direction: row;
    //min-width: 225px;
    //align-content: center;
    //order: 0;
    //margin-left: -150px;
    //margin-right: 50px;
    //margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    //flex-direction: row;
    width: 200px;
    margin-top: -192px;
    margin-bottom: 48px;
    order: 3;
    padding-right: 305px;
    //flex-wrap: nowrap;
  }
}

.companions-catalog__hashtag-item {
  display: inline;
}

fieldset {
  margin: 0;
  border: none;
  border-top: 1px solid $color-pale-grey;
}

.companions-catalog__countries-fieldset {
  @media (min-width: $tablet-width) {
    margin-left: 42px;
    padding-left: 15px;
    display: block;
    order: 2;
    margin-top: 46px;
    margin-bottom: 111px;
    background-color: #ffffff;
    z-index: 1;
    width: 210px;
    //align-self: flex-end;
    //margin-left: 0;
    //margin-right: 50px;
  }
}

.companions-catalog__countries-to-visit {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.country {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    order: 5;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 210px;
    flex-direction: column;
    padding: 0;
    order: 2;
    margin-top: 46px;
    margin-bottom: 111px;
  }
}

.companions-catalog__item-wrapper {
  align-items: center;
  order: 2;
  margin-left: auto;
  width: auto;

  @media (min-width: $desktop-width) {
    display: flex;
    order: 5;
    width: 239px;
    margin-left: auto;
    justify-content: space-between;
    margin-top: -144px;
    flex-direction: row-reverse;
  }
}

.companions-catalog__view-button {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  color: $color-blue-black;
  text-transform: uppercase;
  background-color: $color-yellow-1;
  width: 100%;
  border: none;
  border-radius: 20px;
  display: block;
  text-align: center;
  padding: 5px 0;

  @media (min-width: $tablet-width) {
    order: 3;
    width: 148px;
    margin-top: -57px;
    margin-left: 227px;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: normal;
    height: 50px;
    //margin-left: -300px;
    //order: -1;
    //align-self: flex-end;
    //max-width: 148px;
    //margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 145px;
    height: 50px;
    margin-left: 252px;
    align-self: center;
    margin-top: -144px;
  }
}

.companions-catalog__transport-level {
  display: flex;
  flex-direction: row;
}

.companions-catalog__transport-fieldset {
  width: 70%;

  @media (min-width: $tablet-width) {
    align-self: flex-end;
    margin-left: 0;
    margin-right: 0;
    border: none;
  }
}

.companions-catalog__level-fieldset {
  width: 30%;

  @media (min-width: $tablet-width) {
    padding: 0;
    align-self: flex-end;
    margin-left: 30px;
    margin-right: -20px;
    order: -1;
    border: none;
  }
}

.companions-catalog__countries-to-visit,
.companions-catalog__transport-type,
.companions-catalog__travel-mates {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: $color-grey-dark;
}

.companions-catalog__transport-type,
.companions-catalog__travel-mates {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.companions-catalog__button {
  &--more {
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-dark-slate-blue;
    text-align: center;
    display: block;
    margin-bottom: 27px;
  }
}
