//***********************COMPANIONS CATALOG**********************//
.companions-index {
  //background-color: $color-dark-blue-1;
  background: url("../img/smolov-back-desktop@1x.png") no-repeat 150px 50px,
    url("../img/rogovaya-back-mobile@1x.png") no-repeat left 330px $color-dark-blue-1;
  padding: 100px 25px 50px 25px;
  position: relative;
  z-index: 8;
  margin-top: -40px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  @media (min-width: $tablet-width) {
    padding: 0 74px 88px 74px;
    background: url("../img/rogovaya-back-desktop@1x.png") no-repeat top 70px right 45px, url("../img/smolov-back-desktop@1x.png") no-repeat top 425px left 45px $color-dark-blue-1;
    //background-color: $color-dark-blue-1;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding: 134px;
    padding-right: 60px;
    flex-wrap: wrap;
    justify-content: space-between;
    background-position: top 386px left 190px, top 131px left 546px;
  }
}

.companions-index__list {
  padding-left: 0;
  list-style: none;
  padding-top: 50px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
    width: 50%;
    //display: flex;
    //justify-content: space-between;
    //background-color: lightgreen;
  }
}

.companions-index__text-box {
  padding-left: 25px;
  padding-right: 25px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: $desktop-width) {
    width: 500px;
  }
}

.companions-index__item {
  border-radius: 20px;
  position: relative;
  margin-bottom: 10px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    width: 285px;
    //background-color: pink;
  }

  @media (min-width: $desktop-width) {
    //padding: 0 60px 80px 60px;
  }
}

.companions-index__photo {
  display: block;
  width: 100%;
}

.companions-index__hashtag-item,
.companions-index__transport-item {
  display: inline;
}

.companions-index__title {
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-top: 75px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}

.companions-index__title a {
  margin: 0;

  @include orange-title;

  @media (min-width: $tablet-width) {
    @include orange-title-tabdesc;
    margin-top: 75px;
  }
}

.companions-index__description {
  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 33px;
    padding-right: 150px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 20px;
  }

  &:last-of-type {
    font-weight: 700;

    @media (min-width: $tablet-width) {
      font-size: 21px;
      line-height: 25px;
      margin-top: 50px;
      padding-right: 360px;
    }

    @media (min-width: $desktop-width) {
      padding-right: 120px;
    }
  }
}

.companions-index__content {
  background-color: $color-white;
  padding: 25px;
}

.companions-index__name {
  margin: 0;
  display: block;
  text-align: center;

  @include blue-country-name;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
  }
}

.companions-index__hashtag-item {
  @include light-grey-text;
  color: $color-grey-dark;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.companions-index__button {
  @include blue-link-caption;
  background-color: $color-yellow-1;
  padding: 30px;
  display: block;
  width: 100%;

  svg {
    fill: $color-dark-blue-2;
    margin-left: 50px;
  }

  &:active svg {
    opacity: 30%;
  }

  &--more {
    text-transform: uppercase;
    background-color: $color-pale-grey;
  }

  @media (min-width: $tablet-width) {
    display: block;
    width: 100%;
    border-radius: 15px;
    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    max-width: 280px;
    align-self: flex-end;
    flex-direction: column-reverse;
    margin-top: -80px;
  }
}

.companions-index__travel-mates {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: $color-white;
  position: absolute;
}

.companions-index__level {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.companions-index__form-level {
  font-size: 38px;
  font-weight: 700;
  line-height: 38px;
  color: $color-blue-black-2;
}

.companions-index__hashtag-list {
  text-align: center;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding-right: 5px;
    padding-left: 5px;
  }
}

.companions-index__countries-list {
  position: absolute;
  list-style: none;
  display: flex;
  width: 100%;
  top: 258px;
  //left: 63px;
  padding-left: 0;
  align-items: center;
  justify-content: center;
}

.companions-index__countries-item {
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  color: $color-dark-blue-2;
  text-transform: uppercase;
  margin-right: 19px;
}

.companions-index__likes {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: $color-blue-black;
  text-transform: uppercase;
}

.companions-index__view-button {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  color: $color-blue-black;
  text-transform: uppercase;
  background-color: $color-yellow-1;
}

.companions-index__hashtag-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: $color-dark-blue-2;
}

.companions-index__transport-type {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: $color-dark-blue-2;
  text-transform: uppercase;
}
