//***********************COMPANIONS CATALOG**********************//
.companions-index {
  //background-color: $color-dark-blue-1;
  background: url("../img/smolov-back-desktop@1x.png") no-repeat top 80px right 25px,
    url("../img/rogovaya-back-mobile@1x.png") no-repeat left -10px top 350px;
  background-size: 145px, 72px;
  padding: 110px 25px 28px 25px;
  position: relative;
  z-index: 8;
  margin-top: -40px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: $color-dark-blue-1;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/smolov-back-desktop@2x.png"), url("../img/rogovaya-back-mobile@2x.png");
    //background-position: center 333px, center bottom;
  }

  @media (min-width: $tablet-width) {
    padding: 0 74px 88px 74px;
    background: url("../img/smolov-back-desktop@1x.png") no-repeat top 470px left 40px,
      url("../img/rogovaya-back-desktop@1x.png") no-repeat top 120px right 75px;
    background-size: 145px, 285px;
    background-color: $color-dark-blue-1;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/smolov-back-desktop@2x.png"), url("../img/rogovaya-back-desktop@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding: 132px;
    padding-right: 60px;
    padding-top: 164px;
    padding-bottom: 125px;
    flex-wrap: wrap;
    justify-content: space-between;
    background: url("../img/smolov-back-desktop@1x.png") no-repeat top 170px left 547px,
      url("../img/rogovaya-back-desktop@1x.png") no-repeat bottom 170px left 190px;
    background-size: 145px, 285px;
    background-color: $color-dark-blue-1;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/smolov-back-desktop@2x.png"), url("../img/rogovaya-back-desktop@2x.png");
    }
  }

  &::before {
    content: "";
    width: 113px;
    height: 132px;
    position: absolute;
    left: 0;
    top: 100px;
    z-index: -1;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: $color-blue-figure;

    @media (min-width: $tablet-width) {
      height: 213px;
      width: 213px;
      left: 40px;
      top: 100px;
      border-radius: 20px;
    }

    @media (min-width: $desktop-width) {
      left: 60px;
      top: 80px;
    }
  }
}

.companions-index__list {
  padding-left: 0;
  list-style: none;
  padding-top: 35px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    padding-top: 38px;
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
    width: 630px;
    //display: flex;
    //justify-content: space-between;
    //background-color: lightgreen;
    margin-top: 0;
    padding-top: 10px;
    margin-bottom: 0;
  }
}

.companions-index__text-box {
  padding-left: 25px;
  padding-right: 25px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: $desktop-width) {
    width: 500px;
  }
}

.companions-index__item {
  border-radius: 10px;
  position: relative;
  margin-bottom: 10px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    width: 285px;
    //background-color: pink;
    border-radius: 20px;
  }

  @media (min-width: $desktop-width) {
    //padding: 0 60px 80px 60px;
  }

  &:hover {
    .companions-index__photo {
      transform: scale(1.1);
      transition: 1s;
      height: 285px;
    }
  }
}

.companions-index__photo {
  display: block;
  width: 100%;
}

.companions-index__hashtag-item,
.companions-index__transport-item {
  display: inline;
}

.companions-index__title {
  margin: 0;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    padding-top: 177px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}

.companions-index__title a {
  @include orange-title;

  @media (min-width: $tablet-width) {
    @include orange-title-tabdesc;
    margin-top: 75px;
  }
}

.companions-index__description {
  //margin-top: 18px;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 33px;
    padding-right: 150px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 20px;
  }

  &:last-of-type {
    font-weight: 700;

    @media (min-width: $tablet-width) {
      font-size: 21px;
      line-height: 25px;
      margin-top: 40px;
      padding-right: 368px;
    }

    @media (min-width: $desktop-width) {
      padding-right: 120px;
    }
  }
}

.companions-index__content {
  background-color: $color-white;
  padding: 25px;
  padding-bottom: 17px;
  z-index: 1;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 28px;
    padding-bottom: 23px;
  }
}

.companions-index__name {
  margin: 0;
  display: block;
  text-align: center;
  cursor: pointer;
  position: relative;

  @include blue-country-name;

  &:hover,
  &:focus {
    opacity: 60%;
  }

  &:active {
    opacity: 30%;
  }

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
  }

  &--offline {
    &::before {
      content: "";
      position: absolute;
      width: 5px;
      height: 5px;
      border-radius: 10px;
      display: block;
      top: 8px;
      left: 27px;
      background-color: $color-pink-2;

      @media (min-width: $tablet-width) {
        left: 23px;
      }
    }
  }

  &--online {
    &::before {
      content: "";
      position: absolute;
      width: 5px;
      height: 5px;
      border-radius: 10px;
      display: block;
      top: 8px;
      left: 36px;
      background-color: $color-green-1;

      @media (min-width: $tablet-width) {
        left: 30px;
      }
    }
  }
}

.companions-index__hashtag-item {
  @include light-grey-text;
  color: $color-grey-dark;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.companions-index__button {
  @include blue-link-caption;
  background-color: $color-yellow-1;
  padding: 23px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  svg {
    fill: $color-dark-blue-2;
    //margin-left: 94px;
  }

  &:active svg {
    opacity: 30%;
  }

  &--more {
    text-transform: uppercase;
    background-color: $color-pale-grey;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    border-radius: 15px;
    font-size: 24px;
    line-height: 24px;
    padding-left: 35px;
    padding-top: 28px;
    padding-bottom: 28px;
    padding-right: 36px;
  }

  @media (min-width: $desktop-width) {
    max-width: 280px;
    align-self: flex-end;
    //flex-direction: column-reverse;
    margin-top: -110px;
    border-radius: 20px;
    margin-bottom: 10px;
  }
}

.companions-index__travel-mates {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: $color-white;
  position: absolute;
}

.companions-index__level {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.companions-index__form-level {
  font-size: 38px;
  font-weight: 700;
  line-height: 38px;
  color: $color-blue-black-2;
}

.companions-index__hashtag-list {
  width: 100%;
  text-align: center;
  padding-top: 15px;
  padding-left: 19px;
  padding-right: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &--demin {
    padding-left: 33px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 21px;
    padding-right: 0;
    padding-left: 5px;
  }
}

.companions-index__countries-list {
  position: absolute;
  list-style: none;
  display: flex;
  width: 100%;
  top: 258px;
  //left: 63px;
  //padding-left: 0;
  align-items: center;
  justify-content: space-between;
  padding-left: 62px;
  padding-right: 62px;
  z-index: 2;

  @media (min-width: $tablet-width) {
    padding-left: 69px;
    padding-right: 69px;
    top: 272px;
  }
}

.companions-index__countries-item {
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  color: $color-dark-blue-2;
  text-transform: uppercase;
  //margin-right: 19px;
  position: relative;

  &:hover .companions-index__countries-tooltip {
    //visibility: visible;
    display: block;
  }
}

.companions-index__countries-item .companions-index__countries-tooltip {
  //visibility: hidden;
  //width: 120px;
  display: none;
  background-color: $color-tooltip;
  color: $color-white;
  text-align: center;
  padding: 10px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.companions-index__countries-item .companions-index__countries-tooltip::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent $color-tooltip transparent;
}

.companions-index__likes {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: $color-blue-black;
  text-transform: uppercase;
}

.companions-index__view-button {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  color: $color-blue-black;
  text-transform: uppercase;
  background-color: $color-yellow-1;
}

.companions-index__hashtag-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: $color-dark-blue-2;
}

.companions-index__transport-type {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: $color-dark-blue-2;
  text-transform: uppercase;
}
