/**************************************************************************************
***************************************COMPANIONS CATALOG******************************
***************************************************************************************/

.companions-catalog {
  color: $color-grey-dark;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: $color-pale-grey;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    order: -1;
  }
}

.companions-catalog__card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: $color-white;
  border-radius: 20px;
  padding: 15px 20px 22px 18px;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    //width: 688px;
    //position: relative;
    flex-direction: row;
    padding: 36px 25px 25px 36px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 950px;
    height: 285px;
    padding: 0;
  }
}

.companions-catalog__personal-box {
  display: flex;
  flex-wrap: wrap;
  //border: 2px solid tomato;

  @media (min-width: $tablet-width) {
    width: 80%;
    order: 1;
    height: 190px;
  }

  @media (min-width: $desktop-width) {
    width: 70%;
    order: 1;
    height: 100%;
  }
}

.companions-catalog__hashtag-list {
  display: flex;
  flex-wrap: wrap;

  @include list-style;
  //width: 160px;
  //border: 2px solid lightgreen;

  @media (min-width: $tablet-width) {
    width: 220px;
    flex-wrap: wrap;
    align-self: flex-start;
    margin-left: 250px;
    margin-top: -150px;
    padding-left: 0;
    //margin-top: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 350px;
    margin-top: -200px;
  }
}

.companions-catalog__hashtag-item {
  display: inline;
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.companions-catalog__countries-item {
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
  color: $color-dark-blue-2;
  text-transform: uppercase;
  //padding-left: 50px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    display: flex;
    font-size: 20px;
    line-height: 30px;
    margin-right: 70px;
  }
}

.companions-catalog__photo {
  border-radius: 100px;
  margin-right: 16px;

  @media (min-width: $tablet-width) {
    border-radius: 20px;
    display: block;
    //width: 190px;
    //margin-left: 7px;
    //margin-top: 3px;
    margin-right: 0;
    //height: 100%;
  }

  @media (min-width: $desktop-width) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.companions-catalog__name {
  margin: 0;
  width: 110px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: $color-dark-blue-2;
  position: relative;

  &:hover {
    color: rgba(29, 46, 91, 0.6);
  }

  &:active {
    color: rgba(29, 46, 91, 0.3);
  }

  @media (min-width: $tablet-width) {
    width: auto;
    align-self: baseline;
    margin-left: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 45px;
  }

  &--offline {
    &::before {
      content: "";
      position: absolute;
      width: 6px;
      height: 6px;
      border-radius: 10px;
      display: block;
      top: 10px;
      right: 0;
      background-color: $color-pink-2;

      @media (min-width: $tablet-width) {
        width: 7px;
        height: 7px;
        right: -100px;
      }
    }
  }

  &--online {
    &::before {
      content: "";
      position: absolute;
      width: 6px;
      height: 6px;
      border-radius: 10px;
      display: block;
      top: 10px;
      right: 0;
      background-color: $color-green-1;

      @media (min-width: $tablet-width) {
        width: 7px;
        height: 7px;
        right: -100px;
      }
    }
  }
}

.companions-catalog__name a {
  color: $color-dark-slate-blue;
}

.companions-catalog__likes {
  //align-self: flex-end;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: $color-blue-black-2;
  margin-left: 50px;
  margin-top: -30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90px;

  /*
  &::before {
    content: url("../heart-active.svg");
    display: block;
    width: 13px;
    height: 11px;
    position: absolute;
    left: -10px;
    //fill: $color-tomato;
  }
*/
  @media (min-width: $tablet-width) {
    //order: 4; отодвигает к правому краю лайк
    align-self: flex-end;
    margin-left: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }
}

.companions-catalog__likes-span {
  display: block;
  width: 31px;
  height: 31px;
  border-radius: 100%;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 50px;
    height: 50px;
    //margin-right: 5px;
  }

  &--active {
    background-color: $color-very-light-pink-two;

    svg {
      fill: $color-tomato;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @media (min-width: $tablet-width) {
        width: 20px;
        height: 17px;
      }
    }

    &:hover {
      background-color: $color-light-tan;
    }

    &:active {
      svg {
        opacity: 30%;
      }
    }
  }

  &--inactive {
    background-color: $color-pale-grey-four;

    svg {
      fill: $color-dark-blue-1;
      opacity: 30%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @media (min-width: $tablet-width) {
        width: 20px;
        height: 17px;
      }
    }

    &:hover {
      background-color: $color-pale-grey-four;
    }

    &:active {
      svg {
        opacity: 10%;
      }
    }
  }
}


.companions-catalog fieldset {
  margin: 0;
  border: none;
  border-top: 1px solid $color-pale-grey;

  @media (min-width: $desktop-width) {
    border-top: none;
  }
}

.companions-catalog__countries-list {
  @include list-style;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    padding-top: 49px;
  }
}

.companions-catalog__countries-fieldset {
  //border: 2px solid lightblue;

  @media (min-width: $tablet-width) {
    //order: 4;
    //width: 100%;
    order: 4;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    order: 1;
    width: 30%;
    //margin-left: auto;
    align-self: baseline;
    padding: 0;
    //order: 1;
    margin-left: auto;
  }
}

.companions-catalog__countries-to-visit {
  @media (min-width: $tablet-width) {
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

/*
.country {
  //border: 2px solid blueviolet;

  @media (min-width: $tablet-width) {
    //display: flex;
    //flex-wrap: wrap;
    //margin-top: 15px;
    order: 4;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 30%;
    //flex-direction: column;
    padding: 0;
    order: 1;
    margin-left: auto;
    //margin-top: 46px;
    //margin-bottom: 111px;
  }
}
*/
.companions-catalog__item-wrapper {
  display: flex;
  justify-content: space-between;
  //border: 2px solid aqua;

  @media (min-width: $tablet-width) {
    width: 20%;
    order: 2;
    margin-left: auto;
    flex-direction: column;
    align-items: flex-end;

    fieldset {
      border: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: 30%;
    order: 3;
    margin-left: auto;
    flex-direction: row;
    margin-top: -170px;
    padding-bottom: 40px;
    padding-right: 44px;
  }
}

.companions-catalog__view-button {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  color: $color-blue-black;
  text-transform: uppercase;
  background-color: $color-yellow-1;
  width: 100%;
  border: none;
  border-radius: 20px;
  display: block;
  text-align: center;
  padding: 5px 0;

  &:hover,
  &:focus {
    background-color: $color-yellow-2;
  }

  &:active {
    color: rgba(22, 28, 53, 0.3);
  }


  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: normal;
    //height: 50px;
    //display: inline;
    width: 147px;
    order: 3;
    margin-left: 240px;
    margin-top: -80px;
    padding: 15px 20px;
    border-radius: 100px;
    align-self: flex-start;
  }

  @media (min-width: $desktop-width) {
    display: inline;
    order: 2;
    margin-left: 350px;
    margin-top: -100px;
    align-self: end;
  }
}

.companions-catalog__transport-level {
  display: flex;
  flex-direction: row;
}

.companions-catalog__level-fieldset {
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    border-bottom: 1px solid $color-pale-grey;
  }
}

.companions-catalog__level-fieldset span {
  font-size: 24px;
  line-height: 18px;
  font-weight: 700;
  color: $color-dark-blue-2;

  @media (min-width: $tablet-width) {
    line-height: 24px;
    text-align: right;
  }
}

.companions-catalog__countries-to-visit,
.companions-catalog__transport-type,
.companions-catalog__travel-mates {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: $color-grey-dark;
}

.companions-catalog__transport-type,
.companions-catalog__travel-mates {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.companions-catalog__button {
  &--more {
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-dark-slate-blue;
    text-align: center;
    display: block;
    margin-bottom: 27px;

    @media (min-width: $tablet-width) {
      font-size: 20px;
    }

    &:hover,
    &:focus {
      opacity: 60%;
    }

    &:active {
      opacity: 30%;
    }
  }
}

.companions-catalog__transport-fieldset {
  border: none;
}
