.contacts {
  background-color: $color-dark-blue-1;
  padding: 25px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 6;
  position: relative;
  margin-top: -50px;

  @media (min-width: $tablet-width) {
    padding: 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 132px;
  }
}

.contacts form {
  @media (min-width: $tablet-width) {
    padding: 34px;
  }
}

.contacts__login-form {
  display: flex;
}

.contacts__input {
  width: 100%;

  &::placeholder {
    color: rgba(68, 68, 68, 0.3);
  }

  &:hover {
    &::placeholder {
      color: rgba(68, 68, 68, 0.5);
    }
  }
}

.contacts__title {
  @include orange-title;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include orange-title-tabdesc;
    text-align: center;
  }
}

.contacts__text-box {
  text-align: center;
  margin-top: 32px;
}

.contacts__text-box p {
  margin: 0;

  @media (min-width: $tablet-width) {
    margin: 0;
    display: inline;

    @include grey-text-tabdesc;
  }

  @media (min-width: $desktop-width) {
    display: inline;
  }
}

.contacts__description {
  text-align: center;
  margin: 0 auto 32px auto;
  display: block;
  padding: 0 25px;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    @include grey-text-tabdesc;
    text-align: center;
    display: block;
    padding: 0;
  }

  &:last-of-type {
    margin-bottom: 25px;
  }

  span {
    display: block;

    @media (min-width: $tablet-width) {
      display: inline;
    }
  }
}

.contacts__login-link {
  color: $color-yellow-1;
  text-decoration: underline;
  display: inline;

  &:hover,
  &:focus {
    color: $color-orange-1;
  }

  &:active {
    color: rgba(255, 141, 48, 0.3);
  }
}

.contacts__box {
  @media (min-width: $tablet-width) {
    padding-top: 45px;
    padding-left: 40px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 100%;
  }
}

.contacts__phone-box,
.contacts__email-box {
  display: flex;
  height: 45px;
  margin-top: 16px;
  align-items: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 28px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-bottom: 0;
    min-width: 50%;
  }
}

.contacts__phone-box {
  @media (min-width: $desktop-width) {
    padding-left: 150px;
  }
}

.contacts__email-box {
  margin-top: 0;
  margin-bottom: 40px;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.contacts__icon-phone,
.contacts__icon-email {
  display: block;
  margin-right: 15px;
  width: 45px;
  height: 45px;
  background-color: $color-dark-blue-3;
  border-radius: 50px;
  position: relative;
}

.contacts__icon-phone svg {
  transform: scale(0.5);
  position: absolute;
  top: 12%;
  left: 12%;
}

.contacts__icon-email svg {
  transform: scale(0.5);
  position: absolute;
  top: 22%;
  left: 12%;
}

.contacts__phone-link,
.contacts__email-link {
  display: flex;
  color: $color-yellow-1;
  font-weight: 700;
  //text-transform: uppercase;
  align-items: center;

  &:hover,
  &:focus {
    color: $color-yellow-2;
  }

  &:active {
    opacity: 30%;
  }

  &:hover svg,
  &:focus svg {
    fill: $color-yellow-2;
  }

  &:active svg {
    opacity: 30%;
  }
}
