.container {
  min-width: 320px;
  padding: 27px 25px 40px 25px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 43px 40px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 0 60px;
  }
}
