.container {
  min-width: 320px;
  padding: 20px 25px 30px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: pink;
  //background-color: $color-blue-black-2;
  //background-color: $color-blue-black-3;
  //background-color: $color-medium-blue;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 43px 40px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 0 60px;
  }
}
