.country-a {
  display: block;
  color: $color-grey-dark;
  padding: 0 25px;
  list-style: none;
  background-color: $color-pale-grey-four;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    //position: absolute;
    //top: 50px;
    //right: 50px;
    margin-top: 0;
    padding-right: 0;
    margin-right: 20px;
  }

  @media (min-width: $desktop-width) {
    //display: none;
  }

  &--form {
    text-transform: none;
    background-color: $color-white;

    @media (min-width: $desktop-width) {
      margin-left: auto;
    }
  }
}

.country-a-item {
  color: $color-grey-dark;
  cursor: pointer;

  &:hover {
    color: $color-dark-blue-2;
  }

  &:active {
    color: rgba(29, 46, 91, 0.3);
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.country-a__close-button {
  display: none;
}
