.country-a {
  display: block;
  color: $color-grey-dark;
  padding: 0 25px;
  list-style: none;

  @media (min-width: $tablet-width) {
    //position: absolute;
    //top: 50px;
    //right: 50px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.country-a__item {
  color: $color-grey-dark;
}

.country-a__close-button {
  display: none;
}
