.filter-country {
  background-color: $color-grey-light-1;
}

.filter-country__button {
  @include blue-link-style;
}

.filter-country__link {
  @include blue-link-style;
  color: $color-grey-light-7;

  &--active {
    color: $color-dark-blue-1;
  }
}

.filter-country .country-a-item {
  color: $color-grey-dark;
}

