.filter {
  //display: flex;
  flex-wrap: wrap;
  background-color: $color-pale-grey-four;
  margin-top: -20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 25px;
  padding-top: 19px;
  padding-bottom: 14px;
  //display: none;
  display: flex;

  &--hide {
    display: none;
  }

  @media (min-width: $tablet-width) {
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    //display: none;
    display: flex;
    padding-left: 0;
    padding-right: 0;
    padding-top: 60px;
    padding-bottom: 45px;

    &--show {
      display: flex;
    }
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.filter__alphabet {
  display: block;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.filter__country-a {
  @media (min-width: $desktop-width) {
    display: none;
  }
}
