.filter-country__wrapper {
  width: 320px;
  display: flex;
  flex-direction: column;
  background-color: $color-pale-grey-four;
  position: absolute;
  z-index: 100;
  margin: 0 auto;
  margin-top: -15px;
  padding: 31px 25px 27px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  @media (min-width: $tablet-width) {
    width: 768px;
    flex-wrap: wrap;
    padding: 92px 74px 38px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    margin-top: -50px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    width: 1440px;
    justify-content: space-between;
    padding: 55px 60px 110px;
    padding-top: 82px;
    background-color: $color-pale-grey;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.filter-country__filter-all {
  //display: none;

  @media (min-width: $tablet-width) {
    order: 2;
    display: flex;
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    order: 3;
    margin-left: auto;
  }
}

.filter-country {
  background-color: $color-pale-grey-four;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    //display: none;
    flex-wrap: nowrap;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    display: flex;
    width: 100%;
    padding-left: 18px;
    padding-right: 70px;
    justify-content: flex-start;
    background-color: $color-pale-grey;
  }
}

.filter-country__buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    //order: -1;
    justify-content: flex-end;
    width: auto;
    margin-right: 20px;
  }
}

.filter-country__button {
  align-self: center;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &--left {
    padding: 0;
    align-self: center;

    @media (min-width: $desktop-width) {
      margin-right: 20px;
    }

    @media (min-width: $desktop-width) {
      svg {
        width: 23px;
        height: 15px;
      }
    }
  }

  &--right {
    background-color: transparent;
    display: flex;
    align-items: center;
    margin-right: 3px;

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &--close {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-dark-blue-1;
    background-color: transparent;
    display: none;

    &--show {
      display: flex;
    }

    &:hover,
    &:focus {
      color: rgba(25, 33, 68, 0.6);

      svg {
        opacity: 60%;
      }
    }

    &:active {
      color: rgba(25, 33, 68, 0.3);

      svg {
        opacity: 30%;
      }
    }

    svg {
      margin-left: 20px;
    }

    @media (min-width: $tablet-width) {
      //display: flex;
      align-items: center;
    }

    @media (min-width: $desktop-width) {
      //display: block;
      display: none;
    }
  }

  &--show-all {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-dark-blue-1;
    display: none;

    &:hover,
    &:focus {
      color: rgba(25, 33, 68, 0.6);

      svg {
        opacity: 60%;
      }
    }

    &:active {
      color: rgba(25, 33, 68, 0.3);

      svg {
        opacity: 30%;
      }
    }

    svg {
      margin-left: 30px;
    }

    @media (min-width: $tablet-width) {
      //display: flex;
      align-items: center;
      display: flex;
      font-family: "BloggerSans", "Arial", sans-serif;

      &--hide {
        display: none;
      }
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &--collapse {
    font-size: 16.6px;
    line-height: 29.5px;
    color: $color-blue-black-2;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    border: none;
    border-radius: 20px;
    padding: 6px 0 5px 0;
    background-color: $color-pale-grey-2;
    display: none;
    //display: block;

    &:hover,
    &:focus {
      background-color: $color-light-blue-grey-four;
    }

    &:active {
      color: rgba(29, 46, 91, 0.3);
    }

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 30px;
      padding: 20px 0;
    }

    @media (min-width: $desktop-width) {
      //display: none;
      display: block;
      background-color: transparent;
      font-family: "BloggerSans", "Arial", sans-serif;
      align-self: flex-end;
      margin-left: auto;

      svg {
        margin-left: 58px;
      }
    }
  }
}

.filter-country__continent-list {
  list-style: none;
  padding-left: 25px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    order: -1;
    padding-left: 0;
    width: 370px;
    justify-content: space-between;
  }
}

.filter-country__continent-item {
  padding-bottom: 5px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}

.filter-country__continent-link {
  @include blue-link-style;
  //color: $color-grey-light-7;
  color: rgba(25, 33, 68, 0.3);

  &:hover,
  &:focus {
    color: rgba(25, 33, 68, 0.6);
  }

  &:active {
    color: $color-dark-blue-1;
  }

  &--active {
    color: $color-dark-blue-1;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    //padding-right: 25px;
    padding-right: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 3px;
  }
}

.filter-country .country-a-item {
  color: $color-grey-dark;
}

.filter-country__title {
  font-size: 16px;
  color: $color-dark-blue-1;
  font-weight: 700;
  text-transform: uppercase;
  padding-right: 20px;
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.filter-country__box {
  display: flex;
  flex-direction: row;
  padding: 0 25px;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
  }
}

.filter-country__close {
  border: none;
  background-color: transparent;
}

.filter-country__continent {
  background-color: $color-pale-grey-four;
  padding-top: 15px;
  //display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    order: 1;
    width: 365px;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    order: 2;
    display: flex;
    align-items: center;
    background-color: $color-pale-grey;
  }
}


/*

.filter-country__continent-all-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 70%;
    order: -1;
    margin-left: auto;
    margin-top: -60px;
  }
}
*/
