.filter-country__filter-all {
  //display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
  }
}

.filter-all__box-button {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
  }
}

.filter-all__button,
.filter-all__close {
  @media (min-width: $tablet-width) {
    align-self: center;
  }
}

.filter-all__title {
  @media (min-width: $tablet-width) {
    margin-left: 200px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: $color-dark-blue-1;
    text-transform: uppercase;
  }
}

.filter-all__label {
  color: $color-dark-blue-1;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}
