.food-block {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    display: inline;
  }
}

.food-block__link {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-dark-blue-2;
  border-bottom: 1px solid $color-macaroni-and-cheese;
  display: block;
  padding-bottom: 13px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    //display: flex;
    //flex-direction: row;
    border-bottom: none;
  }
}

.food-block input {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.food-block label {
  display: none;
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  color: $color-grey-dark;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    display: block;
  }
}
