.food-block {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    display: inline;
  }
}

.food-block__link {
  @include blue-link-caption;
  font-size: 16px;
  text-transform: uppercase;
  border-bottom: 1px solid $color-macaroni-and-cheese;
  display: block;
  padding-bottom: 13px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    border-bottom: none;
  }
}

.food-block input {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.food-block label {
  display: none;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    color: $color-grey-dark;
    display: block;
  }
}
