.header-social {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.header-social__list {
  @include list-style;
  width: 105px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 42px auto 0 auto;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-top: 133px;
    margin-left: 83px;
    width: 139px;
  }
}

.header-social__item {
  display: inline-block;
}

.header-social__link {
  svg {
    fill: $color-dark-blue-1;

    @media (min-width: $tablet-width) {
      transform: scale(1.3);
    }
  }

  &:hover svg,
  &:focus svg {
    opacity: 60%;
  }

  &:active svg {
    opacity: 30%;
  }

  &--instagram {
    &--active svg {
      opacity: 50%;

      @media (min-width: $tablet-width) {
        opacity: 100%;
      }
    }
  }
}
