.hobby-block {
  border-top: 1px solid $color-macaroni-and-cheese;
  border-bottom: 1px solid $color-macaroni-and-cheese;
  //position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: none;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    display: inline;
  }
}

.hobby-block__container-checkbox {
  display: none;

  &--show {
    display: block;
  }

  &--close {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.hobby-block__title {
  display: flex;
  margin-top: 0;

  button {
    border: none;
    background-color: transparent;
    margin-left: auto;
    cursor: pointer;

    svg {
      &--open {
        transform: rotate(180deg);
      }

      &--close {
        transform: rotate(180deg);
      }
    }

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: block;
    }
  }
}

.hobby-block__link {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-dark-blue-2;
  //display: block;
  padding-top: 13px;
  padding-bottom: 13px;
  position: relative;

  &:hover,
  &:focus {
    color: rgba(29, 46, 91, 0.6);
  }

  &:active {
    color: rgba(29, 46, 91, 0.3);
  }

  /*
  &::after {
    content: url("../img/dropdown.svg");
    width: 8px;
    height: 4px;
    position: absolute;
    left: 200px;
  }
  */

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    //display: flex;
    //flex-direction: row;
    border-bottom: none;
  }
}

.hobby-block__input {
  display: block;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.hobby-block__label {
  display: block;
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  color: $color-grey-dark;
  padding-left: 20px;
  position: relative;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    display: block;
    width: 168px;
  }
}

.hobby-block__input + label::before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 5px;
  background-color: $color-white;
  position: absolute;
  top: 0;
  left: -5px;
}

.hobby-block__input:checked + label::after {
  content: url("../img/tick.svg");
  position: absolute;
  width: 9px;
  height: 9px;
  top: 0;
  left: 0;
  z-index: 1;
}

.hobby-block__input:hover + label::before {
  border: 1px solid $color-blue-grey;
}

.hobby-block__input:active + label::before {
  background-color: $color-pale-grey-three;
}

.hobby-block__input:checked:active + label::after {
  opacity: 30%;
}
