.intro {
  //min-height: 610px;
  padding: 0;
  //background-color: $color-blue-black;
  background-color: $color-medium-blue;
  background-image: url("../img/traveller-illustration-mobile@1x.png"),
    url("../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center 200px, 0 -40px;
  background-clip: border-box;
  position: relative;
  z-index: 15;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/traveller-illustration-mobile@2x.png"), url("../img/globe-back-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/traveller-illustration-tablet@1x.png"),
      url("../img/globe-back-tablet@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: 300px 280px, center 220px;
    padding: 0 40px 200px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/traveller-illustration-tablet@2x.png"), url("../img/globe-back-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/traveller-illustration-desktop@1x.png"),
      url("../img/globe-back-desktop@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: 600px 10px, center -100px;
    padding: 0 60px 190px;
    z-index: 1;
    position: relative;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/traveller-illustration-desktop@2x.png"), url("../img/globe-back-desktop@2x.jpg");
    }
  }
}

.intro__container {
  //padding-bottom: 200px;

  @media (min-width: $desktop-width) {
    display: flex;
    //flex-direction: row-reverse;
  }
}

.intro a {
  display: inline-block;
  text-align: center;
  align-self: center;
  margin-top: 245px;
}

.intro__title {
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  padding: 45px 30px 0 30px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 65px 60px 30px 30px;
    font-size: 60px;
    line-height: 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 65px 380px 30px 0;
  }
}

.intro__contacts {
  justify-content: center;
  display: flex;
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.intro__login-link {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: $color-blue-black-2;
  background-color: $color-yellow-1;
  padding: 5px 40px;
  border-radius: 50px;

  &:hover,
  &:focus {
    background-color: $color-yellow-2;
  }

  &:active {
    color: rgba(22, 28, 53, 0.3);
  }

  @media (min-width: $tablet-width) {
    //position: absolute;
    top: 25px;
    right: 25px;
    margin-top: 0;
  }
}

.intro__email-link,
.intro__phone-link {
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 50px;
  position: relative;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.intro__email-link {
  background-color: $color-yellow-2;

  &:hover,
  &:focus {
    background-color: $color-orange-1;
  }

  &:active {
    svg {
      opacity: 30%;
    }
  }
}

.intro__phone-link {
  background-color: $color-orange-1;

  &:hover,
  &:focus {
    background-color: $color-orange-2;
  }

  &:active {
    svg {
      opacity: 30%;
    }
  }
}

.intro__email-link svg,
.intro__phone-link svg {
  position: absolute;
  top: 25%;
  left: 25%;
  display: block;
}

.intro__quote,
.intro__quote-author {
  background-color: $color-blue-black-2;

  @media (min-width: $tablet-width) {
    background-color: transparent;
  }
}

.intro__quote {
  //background-color: $color-blue-black;
  color: white;
  padding: 50px 115px 85px 50px;
  margin-top: -15px;
  //margin-bottom: 50px;
  z-index: 10;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 33px;
    padding: 50px 395px 0 25px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 10px 0 150px;
  }
}

.intro__quote-text {
  margin: 0;
}

.intro__quote-author {
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 215px;
  }
}

.intro__tips-list {
  list-style: none;
  margin-top: -80px;
  margin-bottom: 0;
  padding: 0 25px 0 25px;
  background-color: $color-dark-blue-1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  z-index: 1;
  position: absolute;
  width: 270px;

  @media (min-width: $tablet-width) {
    width: 100%;
    padding: 0;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    background-color: transparent;
    margin-top: 0;
    //top: 10px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    bottom: 200px;
  }
}

.intro__tips-item {
  @include blue-link-caption;
  color: $color-blue-black-2;
  padding: 25px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  //display: block;
  width: 100%;
  display: flex;
  justify-content: space-between;

  p {
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
    flex-direction: column;
    padding: 32px 95px 35px 20px;
    width: 344px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    line-height: 24px;
    padding: 32px;
    flex-direction: row;
  }

  &:first-child {
    background-color: $color-orange-1;
    position: absolute;
    z-index: 1;
    top: 0;

    @media (min-width: $tablet-width) {
      position: relative;
      top: 0;
      border-top-right-radius: 0;
    }

    @media (min-width: $desktop-width) {
      width: 344px;
      height: 100px;
      //flex-grow: 1;
      //flex-shrink: 0;
      //flex-basis: 296px;
      border-bottom-left-radius: 10px;
    }
  }

  &:nth-child(2) {
    background-color: $color-yellow-3;
    position: absolute;
    z-index: 2;
    top: 80px;

    @media (min-width: $tablet-width) {
      position: relative;
      top: 0;
      z-index: 2;
      left: -10px;
    }

    @media (min-width: $desktop-width) {
      width: 375px;
      height: 100px;
      //flex-grow: 2;
      //flex-shrink: 0;
      //flex-basis: 296px;
      border-bottom-left-radius: 10px;
      border-top-right-radius: 0;
      left: -30px;
    }
  }

  &:nth-child(3) {
    background-color: $color-yellow-2;
    position: absolute;
    z-index: 3;
    top: 160px;

    @media (min-width: $tablet-width) {
      position: relative;
      top: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 10px;
    }

    @media (min-width: $desktop-width) {
      width: 372px;
      height: 100px;
      //flex-grow: 2;
      //flex-shrink: 0;
      //flex-basis: 296px;
      border-top-left-radius: 10px;
      left: -60px;
    }
  }

  &:nth-child(4) {
    background-color: $color-yellow-1;
    position: absolute;
    z-index: 4;
    top: 240px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    @media (min-width: $tablet-width) {
      position: relative;
      top: 0;
      z-index: 3;
      left: -10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    @media (min-width: $desktop-width) {
      width: 300px;
      height: 100px;
      //flex-grow: 0;
      //flex-shrink: 0;
      //flex-basis: 296px;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      left: -90px;
    }
  }
}

.intro__tips-item-number {
  align-self: flex-start;
  color: $color-white;
}
