.level-block {
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid $color-macaroni-and-cheese;
  }

  @media (min-width: $desktop-width) {
    display: inline;
    border-bottom: none;
  }
}

.level-block__link {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-dark-blue-2;

  &:hover,
  &:focus {
    color: rgba(29, 46, 91, 0.6);
  }

  &:active {
    color: rgba(29, 46, 91, 0.3);
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    //display: flex;
    //flex-direction: row;
    //border-bottom: none;
  }
}

.level-block__wrapper {
  &--show {
    display: block;
  }

  &--close {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.level-block__container {
  width: 216px;
  height: 35px;
  //border: 1px solid $color-greyborder;
  position: relative;
  background-color: $color-white;
  justify-content: space-around;
  display: flex;
  margin-bottom: 26px;
  border-radius: 5px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    order: 3;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    margin-bottom: 20px;
    order: 2;
    //justify-content: center;
    //display: block;
  }

  &::before {
    content: "";
    width: 2px;
    height: 11px;
    background-color: $color-white;
    display: block;
    position: absolute;
    top: 13px;
    left: 107px;
    z-index: 2;
  }

  &::after {
    content: "";
    width: 16px;
    height: 1px;
    background-color: $color-greyborder;
    display: block;
    position: absolute;
    top: 18px;
    left: 100px;
    z-index: 1;
  }
}

.level-block__input-type-range {
  content: "";
  width: 220px;
  height: 2px;
  background-color: rgba(29, 46, 91, 0.2);
  border-radius: 1px;
  position: relative;
  display: block;

  @media (min-width: $tablet-width) {
    margin-right: 60px;
  }

  @media (min-width: $desktop-width) {
    order: 3;
    margin-right: 0;
  }
}

.level-block__bar {
  width: 80%;
  height: 2px;
  background-color: $color-dark-slate-blue;
  transform: translateX(28%);
}

.level-block__range-button-left::before {
  display: block;
  content: "";
  width: 13px;
  height: 13px;
  border-radius: 10px;
  position: absolute;
  top: -5px;
  left: 50px;
  cursor: pointer;
  background-color: $color-dark-slate-blue;
}

.level-block__range-button-left {
  &:hover {
    &::before {
      width: 19px;
      height: 19px;
      top: -8px;
      left: 48px;
    }
  }

  &:active {
    &::before {
      box-shadow: 0 3px 7px 0 rgba(29, 46, 91, 0.35);
    }
  }
}

.level-block__range-button-right::before {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  border-radius: 10px;
  position: absolute;
  top: -5px;
  left: 215px;
  cursor: pointer;
  background-color: $color-dark-slate-blue;
}

.level-block__range-button-right {
  &:hover {
    &::before {
      width: 19px;
      height: 19px;
      top: -8px;
      left: 210px;
    }
  }

  &:active {
    &::before {
      box-shadow: 0 3px 7px 0 rgba(29, 46, 91, 0.35);
    }
  }
}

.min-level {
  color: $color-dark-slate-blue;
  font-size: 15px;
  line-height: 15px;
  font-weight: 500;
  width: 109px;
  //border: 1px solid $color-grey-light-3;
  height: 35px;
  text-align: center;
  //position: relative;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid $color-greyborder;
  //border-right: none;

  &::after {
    content: "";
    display: block;
    width: 1px;
    height: 11px;
    background-color: black;
    //background-color: $color-greyborder;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &:hover,
  &:focus {
    border: 1px solid $color-blue-grey;
  }

  &:active {
    border: 1px solid $color-blue-black-2;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 18px;
  }
}

.max-level {
  color: $color-dark-slate-blue;
  font-size: 15px;
  line-height: 15px;
  font-weight: 500;
  width: 109px;
  //border: 1px solid $color-grey-light-3;
  height: 35px;
  text-align: center;
  position: relative;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid $color-greyborder;
  //border-left: none;
}

.level-block__title {
  display: flex;
  //margin-top: 0;

  button {
    border: none;
    background-color: transparent;
    margin-left: auto;
    cursor: pointer;

    svg {
      &--open {
        transform: rotate(180deg);
      }

      &--close {
        transform: rotate(180deg);
      }
    }

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: block;
    }
  }

  svg {
    transform: rotate(180deg);
  }
}
