.login-form__login-link {
  color: $color-yellow-1;
  text-decoration: underline;
}

.login-form__phone-link,
.login-form__email-link {
  color: $color-yellow-1;
  font-weight: 700;
}

.login-form__email-link {
  text-transform: uppercase;
}

.login-form input {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: rgba(68, 68, 68, 0.3);
  width: 100%;
  padding: 16px 0 16px 24px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
  //margin-bottom: 32px;
}

.login-form__button {
  display: block;
  min-width: 60px;
  height: 62px;
  border: none;
  border-radius: 10px;
  padding: 0;
  position: relative;
  margin-left: -15px;

  @media (min-width: $tablet-width) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: $color-yellow-2;
  }

  &:active svg {
    opacity: 30%;
  }

  svg {
    fill: $color-dark-blue-2;
  }

  @media (min-width: $desktop-width) {
    width: 325px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.login-form__button-span {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline;
  }
}
