.login-form__login-link {
  color: $color-yellow-1;
  text-decoration: underline;
}

.login-form__phone-link,
.login-form__email-link {
  color: $color-yellow-1;
  font-weight: 700;
}

.login-form__email-link {
  text-transform: uppercase;
}
