.music-block {
  padding-bottom: 13px;
  border-bottom: 1px solid $color-macaroni-and-cheese;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    display: inline;
  }
}

.music-block__link {
  @include blue-link-caption;
  font-size: 16px;
  text-transform: uppercase;
}

.music-block label {
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  color: $color-grey-dark;
  display: block;
}
