.music-block {
  //padding-bottom: 13px;
  border-bottom: 1px solid $color-macaroni-and-cheese;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    border-bottom: none;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    display: inline;
  }
}


.music-block__container-checkbox {
  &--show {
    display: block;
  }

  &--close {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    display: inline;
  }
}

.music-block__title {
  display: flex;

  button {
    border: none;
    background-color: transparent;
    margin-left: auto;
    cursor: pointer;

    svg {
      &--open {
        transform: rotate(180deg);
      }

      &--close {
        transform: rotate(180deg);
      }
    }

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: block;
    }
  }

  svg {
    transform: rotate(180deg);
  }
}

.music-block__link {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-dark-blue-2;
  position: relative;

  &:hover,
  &:focus {
    color: rgba(29, 46, 91, 0.6);
  }

  &:active {
    color: rgba(29, 46, 91, 0.3);
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    //display: flex;
    //flex-direction: row;
    //border-bottom: none;
  }
}

.music-block__label {
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  color: $color-grey-dark;
  display: block;
  position: relative;
  padding-left: 25px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    width: 168px;
  }
}

.music-block__input + label::before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 5px;
  background-color: $color-white;
  position: absolute;
  top: 0;
  left: -5px;
}

.music-block__input:checked + label::after {
  content: url("../img/tick.svg");
  position: absolute;
  width: 9px;
  height: 9px;
  top: -3px;
  left: 0;
  z-index: 1;
}

.music-block__input:hover + label::before {
  background-color: $color-white;
  opacity: 60%;
}

.music-block__input:active + label::before {
  background-color: $color-white;
  opacity: 30%;
}

.music-block__input:checked:active + label::after {
  opacity: 30%;
}
