.music-block {
  padding-bottom: 13px;
  border-bottom: 1px solid $color-macaroni-and-cheese;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    display: inline;
  }
}

.music-block__link {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-dark-blue-2;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    //display: flex;
    //flex-direction: row;
    //border-bottom: none;
  }
}

.music-block label {
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  color: $color-grey-dark;
  display: block;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}
