.name-page {
  padding: 50px 20px 0 20px;
  background-color: $color-blue-black-2;

  @media (min-width: $tablet-width) {
    padding: 50px 75px 0 75px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.name-page__content {
  height: 71.7px;
  display: flex;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    height: 175.5px;
  }

  @media (min-width: $desktop-width) {
    height: 175.5px;
    padding: 0 129px 64.5px 129px;
  }

  &::after {
    content: "";
    display: block;
    background-color: $color-orange-1;
    height: 5px;
    width: 175px;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    left: 30px;

    @media (min-width: $tablet-width) {
      height: 8px;
      width: 287px;
      border-radius: 4px;
      position: absolute;
      left: 30px;
      bottom: 0;
    }

    @media (min-width: $desktop-width) {
      left: 130px;
      bottom: 0;
    }
  }
}

.name-page__title {
  color: $color-white;
  padding-left: 27px;
  align-self: flex-end;
  padding-bottom: 12px;
  margin-bottom: 0;
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    padding: 0;
  }
}

.name-page__link {
  display: none;
  align-self: flex-end;
  justify-self: end;
  color: $color-white;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: block;
    padding-bottom: 30px;
    margin-left: 150px;
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
    padding: 0;
  }
}
