.new-destinations {
  background-color: $color-grey-light-5;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 20px 25px 50px;
  position: relative;
  z-index: 1;
  top: -15px;
  margin-bottom: 80px;

  @media (min-width: $tablet-width) {
    padding-left: 75px;
    padding-right: 75px;
  }
}

.new-destinations__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: $color-dark-blue-2;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 100%;
    font-size: 36px;
    line-height: 50px;
  }
}

.new-destinations__dates,
.new-destinations__direction,
.new-destinations__intertainment {
  background-color: $color-white;
  padding: 20px 25px;
  border-radius: 10px;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    border-radius: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 95px 155px;
  }
}

.new-destinations__direction {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.new-destinations__intertainment {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.new-destinations__dates-title,
.new-destinations__steps-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: $color-dark-blue-2;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 50px;
  }
}

.new-destinations__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: $color-grey-dark;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    padding-right: 160px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 260px;
  }
}

.new-destinations__steps-box {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.new-destinations__search-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  button {
    border: none;
    background-color: transparent;
  }

  input {
    border: none;
    text-align: center;
    font-weight: 500;
  }
}

.new-destinations__search-mates,
.new-destinations__duration {
  display: flex;
  flex-wrap: wrap;
  //background-color: lightblue;
  height: 70px;
  width: 100%;
  position: relative;

  @media (min-width: $tablet-width) {
    border-top: 1px solid $color-grey-line;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 70%;
  }
}

.new-destinations__search-mates {
  order: 1;
  margin-bottom: 20px;
}

.new-destinations__duration {
  order: 2;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    order: 3;
  }
}

.new-destinations__input-container {
  width: 100%;
  justify-content: space-around;
  display: flex;
  //border: 2px solid green;
  align-self: flex-end;
  border: 1px solid $color-grey-light-3;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;

  @media (min-width: $desktop-width) {
    align-self: flex-start;
    width: auto;
  }

  &--duration {
    @media (min-width: $tablet-width) {
      order: 5;
    }

    @media (min-width: $desktop-width) {
      order: 2;
    }
  }

  &--children {
    order: 3;
    border: none;

    @media (min-width: $tablet-width) {
      order: 2;
      margin-top: 20px;
    }

    @media (min-width: $desktop-width) {
      width: 30%;
      align-self: stretch;
      order: 2;
    }
  }
}

.new-destinations__label {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: $color-dark-blue-2;
  text-transform: uppercase;
  width: 80%;
  display: flex;
  justify-content: space-between;
  //border: 2px solid tomato;
  align-self: flex-start;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    align-self: center;
    width: 300px;
    margin-bottom: 0;
  }

  &--children {
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    color: $color-grey-dark;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      font-weight: 500;
      line-height: 18px;
      color: $color-dark-blue-2;
      align-self: center;
    }
  }

  &--duration {
    @media (min-width: $tablet-width) {
      //order: 4;
    }
  }
}

.new-destinations__span {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: $color-grey-light-5;
  width: 20%;
  align-self: flex-start;
  //border: 2px solid gold;
  text-align: right;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    order: 3;
    width: auto;
    align-self: center;
    padding-left: 30px;
  }
}

.new-destinations__selection-wrapper {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.new-destinations__country-selection {
  width: 100%;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: $color-dark-blue-2;
  text-transform: uppercase;
  display: flex;
  border: 1px solid $color-grey-light-3;
  border-radius: 5px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    //width: 369px;
    //margin-left: 0;
  }

  button {
    width: 15%;
    border: none;
    background-color: transparent;

    @media (min-width: $tablet-width) {
      border-right: 1px solid $color-grey-light-3;
      width: 72px;
      border-radius: 5px;
    }

    &--select,
    &--plus {
      width: 20%;

      @media (min-width: $tablet-width) {
        width: 72px;
        border: none;
      }
    }
  }

  &--select {
    margin-bottom: 0;

    @media (min-width: $tablet-width) {
      width: 369px;
      margin-left: 0;
      margin-bottom: 20px;
    }

    @media (min-width: $desktop-width) {
      width: 730px;
    }
  }

  &--plus {
    background-color: $color-pale-grey;
    border: none;
    width: 369px;
    margin-left: 0;

    @media (min-width: $desktop-width) {
      width: 730px;
    }
  }
}

.new-destinations__action {
  width: 60%;

  &--select,
  &--plus {
    width: 80%;

    @media (min-width: $desktop-width) {
      width: 730px;
      //margin-left: 0;
      //order: -1;
    }
  }

  @media (min-width: $tablet-width) {
    width: 297px;
  }

  @media (min-width: $desktop-width) {
    width: 730px;
  }
}

.new-destinations__alphabet-country-block {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 575px;
    padding-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    width: 730px;
    justify-content: space-between;
  }
}

.new-destinations__alphabet-country-block .new-destinations__country-a {
  border: 1px solid $color-grey-light-3;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: none;
  margin-top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    width: 206px;
    padding: 0;
  }
}

.new-destinations__alphabet-country-block .new-destinations__country-selection {
  margin-bottom: 0;
  color: $color-white;
  background-color: $color-dark-blue-2;
  border: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  @media (min-width: $tablet-width) {
    width: 369px;
    margin-left: 0;
    order: -1;
  }

  @media (min-width: $desktop-width) {
    width: 730px;
    //margin-left: 0;
    //order: -1;
  }
}

.new-destinations__country-flag {
  //border: 1px solid $color-grey-light-3;
  border-radius: 5px;
  width: 25%;
}

.new-destinations__button {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  color: $color-blue-black-2;
  background-color: $color-yellow-1;
  border-radius: 100px;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  text-align: center;
  text-transform: uppercase;

  &--next-step {
    @media (min-width: $tablet-width) {
      //display: inline;
      padding: 30px 50px;
      font-size: 24px;
      line-height: 24px;
      border-radius: 20px;
      width: 284px;
      text-transform: none;
    }
  }

  &--submit {
    border: none;
    font-size: 17px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      //width: 30%;
      display: inline-block;
      font-size: 24px;
      font-weight: 700;
      line-height: 24px;
      text-transform: none;
      border-radius: 20px;
      width: 284px;
      padding: 30px 50px;
    }
  }

  &--plus-country {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: $color-dark-blue-2;
    background-color: $color-pale-grey;
    border-radius: 5px;
    border: none;
    cursor: pointer;

    @media (min-width: $tablet-width) {
      font-size: 20px;
    }
  }

  &--previous-step {
    background-color: $color-white;
    border: none;
    font-size: 17px;
    font-weight: 700;
    line-height: 30px;

    @media (min-width: $tablet-width) {
      display: inline;
      padding-left: 50px;
      padding-right: 50px;
      margin-left: 300px;
      font-size: 24px;
      line-height: 24px;
      margin-top: -50px;
    }

    @media (min-width: $desktop-width) {
      display: inline;
      padding-left: 50px;
      padding-right: 50px;
      margin-left: 700px;
    }
  }
}

.new-destinations__label-country {
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  color: $color-dark-blue-2;
  width: 100%;
  display: block;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 100%;
    font-size: 30px;
    font-weight: 700;
  }
}

.new-destinations__textarea-plan {
  font-family: "BloggerSans", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: $color-grey-dark;
  height: 220px;
  resize: none;
  border-radius: 5px;
  border-color: $color-grey-light-3;
  margin-bottom: 20px;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 100%;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 730px;
    height: 142px;
  }

  &--empty {
    color: rgba(68, 68, 68, 0.302);
  }
}

.new-destinations .form-table {
  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.new-destinations .country-a {
  @media (min-width: $desktop-width) {
    //margin-right: auto;
  }
}

.new-destinations__step-definition-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.new-destinations__direction .new-destinations__step-number-box,
.new-destinations__intertainment .new-destinations__step-number-box {
  @media (min-width: $desktop-width) {
    margin-right: auto;
  }
}

.new-destinations__steps-list {
  display: none;
  //list-style: square outside;
  list-style-type: disc;
  padding-left: 0;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.new-destinations__steps-list .new-destinations__steps-link {
  @media (min-width: $desktop-width) {
    font-size: 20px;
    font-weight: 400;
    line-height: 14px;
    color: $color-grey-dark;
    text-transform: uppercase;
    display: block;
    padding-bottom: 20px;
    position: relative;
  }

  &::before {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 10px;
    background-color: $color-grey-light-5;
    position: absolute;
    left: -30px;
  }

  &--active {
    color: $color-dark-blue-2;

    &::before {
      background-color: $color-dark-blue-2;
    }
  }
}
