.page-header {
  background-color: #161c36;
  padding-top: 27px;
  padding-bottom: 27px;
  position: relative;
  min-width: 320px;

  @media (min-width: $desktop-width) {
    background: #161c34;
    display: flex;
    min-height: 90px;
    align-items: center;
    padding-top: 48px;
  }
}

.page-header__logo {
  display: block;
  width: 100px;
  height: 30px;
  //background: lightblue;
}

.container {
  min-width: 320px;
  padding: 27px 25px 40px 25px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 43px 40px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 0 60px;
  }
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 357px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    width: 200px;
  }
}

.page-header__main-nav {
  margin-top: 70px;

  @media (min-width: $tablet-width) {
    //display: none;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
  }
}

.page-header__main-nav .main-nav__phone-box,
.page-header__main-nav .main-nav__email-box {
  display: flex;
  align-items: center;
  //background-color: $color-white;
}

.page-header__main-nav .header__social,
.page-header__main-nav .main-nav__phone-box,
.page-header__main-nav .main-nav__email-box {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-header__main-nav .site-nav {
  @media (min-width: $desktop-width) {
    display: flex;
    font-size: 20px;
    margin-top: 0;
  }
}


.main-nav__login-link {
  width: 100%;
  display: block;
  text-align: center;
  padding: 16px 0;
  border-radius: 100px;
  margin-bottom: 51px;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav__icon-phone,
.main-nav__icon-email {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background-color: #121936;
  position: relative;
  margin-right: 16px;
}

.main-nav__phone-link,
.main-nav__email-link {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  color: #192144;
}

.main-nav__icon-phone svg,
.main-nav__icon-email svg {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  transform: translate(-50%, -50%) scale(0.5);
}

.header-social {
  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
/*
.page-header__email-link svg,
.page-header__phone-link svg {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  transform: translate(-50%, -50%);
}
*/

/*
.page-header {
  min-width: 320px;
  //min-height: 284px;
  margin: 0 auto;
  background-color: $color-blue-black;
  display: flex;
  position: relative;
  padding-top: 27px;
  padding-bottom: 27px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 768px;
    max-height: 75px;
    padding: 25px 40px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    background: #161c34;
    align-items: center;
    min-height: 90px;
    padding-top: 48px;
  }
}

.container {
  width: 320px;
  padding: 0 25px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 0 40px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 0 60px;
  }
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: 357px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    width: 340px;
  }
}

.page-header__main-nav {
  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    //width: 1000px;
  }
}

.page-header__main-nav .header__social,
.page-header__main-nav .main-nav__email-box,
.page-header__main-nav .main-nav__phone-box {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-header__main-nav .site-nav {
  @media (min-width: $desktop-width) {
    display: flex;
    font-size: 20px;
    margin-top: 0;
  }
}

.page-header__logo {
  display: block;
  width: 100px;
  height: 30px;
  padding-left: 25px;
  padding-top: 25px;
  padding-bottom: 25px;

  @media (min-width: $desktop-width) {
    margin-right: 50px;
  }
}

.page-header__login-link {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: $color-blue-black-2;
  background-color: $color-yellow-1;
  padding: 5px 40px;
  border-radius: 50px;

  @media (min-width: $tablet-width) {
    top: 25px;
    right: 25px;
    margin-top: 0;
  }
}

.page-header__email-link,
.page-header__phone-link {
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 50px;
  position: relative;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.page-header__email-link {
  background-color: $color-yellow-2;
}

.page-header__phone-link {
  background-color: $color-orange-1;
}
*/


/*
.page-header .social-list {
  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

/*
.header .header__social,
.header .main-nav__email,
.header .main-nav__tel,
.header .site-list {
      display: none;
}
*/
