.pager-list {
  padding: 0;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;

  @media (min-width: $tablet-width) {
    background-color: $color-white;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 80px;
  }
}

.pager-list ul {
  display: none;
  list-style: none;
  padding-left: 18px;
  min-width: 250px;
  align-self: center;

  @media (min-width: $tablet-width) {
    display: block;
    padding-left: 28px;
  }
}

.pager-item {
  @media (min-width: $tablet-width) {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    position: relative;
  }

  &--current {
    @media (min-width: $tablet-width) {
      width: 50px;
      height: 50px;
      border-radius: 100px;
      background-color: $color-yellow-1;
      position: relative;
    }
  }

  &--current a {
    @media (min-width: $tablet-width) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  a {
    @media (min-width: $tablet-width) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 20px;
      line-height: 30px;
      font-weight: 700;
      color: $color-blue-black-2;
    }
  }

  a:hover {
    color: rgba(22, 28, 53, 0.6);
  }
}

.pager-list__button {
  &--previous {
    width: 50%;
    background-color: $color-white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: block;
    height: 50px;
    position: relative;

    &:hover,
    &:focus {
      svg {
        opacity: 60%;
      }
    }

    &:active {
      svg {
        opacity: 30%;
      }
    }

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      fill: $color-dark-blue-1;

      @media (min-width: $tablet-width) {
        left: 90%;
      }

      @media (min-width: $desktop-width) {
        left: 97%;
      }
    }

    @media (min-width: $tablet-width) {
      width: 90%;
      height: 100px;
    }
  }

  &--next {
    width: 50%;
    background-color: $color-white;
    margin-left: 1px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    //display: block;
    height: 50px;
    //position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover,
    &:focus {
      svg {
        opacity: 60%;
      }
    }

    &:active {
      svg {
        opacity: 30%;
      }
    }

    svg {
      //position: absolute;
      //top: 50%;
      //left: 50%;
      //transform: translate(-50%, -50%);
      fill: $color-dark-blue-1;

      @media (min-width: $tablet-width) {
        position: relative;
        top: 0;
        left: 0;
      }

      @media (min-width: $desktop-width) {
        left: 18px;
      }
    }

    @media (min-width: $tablet-width) {
      width: 10%;
      height: 100px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }
}
