.page-about {
  &__service {
    background: url("../img/about-mobile@1x.png") no-repeat;
    background-color: $color-dark-blue-1;
    padding: 0 25px 0 25px;
  }

  &__title,
  &__description,
  &__review,
  &__review-author {
    @include margintb0;
  }

  &__review-box {
    background-color: $color-blue-black;
    color: white;
    padding: 0 25px 0 25px;
  }

  &__review-author {
    font-weight: 700;
  }

  &__list {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 25px 0 25px;
    background-color: $color-dark-blue-1;
  }

  &__item {
    @include blue-link-caption;
    color: $color-blue-black-2;
  }

  &__item:first-child {
    background-color: $color-orange-1;
  }

  &__item:nth-child(2) {
    background-color: $color-yellow-3;
  }

  &__item:nth-child(3) {
    background-color: $color-yellow-2;
  }

  &__item:nth-child(4) {
    background-color: $color-yellow-1;
  }

  &__title {
    @include orange-title;
  }

  &__description:last-child {
    font-weight: 700;
  }
}
