.page-header {
  //background-color: #161c36;
  //background-color: $color-medium-blue;
  background-color: $color-blue-black-3;
  padding-top: 27px;
  padding-bottom: 27px;
  position: relative;
  min-width: 320px;

  @media (min-width: $desktop-width) {
    background: $color-blue-black-3;
    display: flex;
    min-height: 90px;
    align-items: center;
    //padding-top: 48px;
  }
}

.page-header__logo {
  display: block;
  //width: 100px;
  //height: 30px;
  //background: lightblue;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 357px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    width: 200px;
    margin-top: 49px;
  }
}

.page-header__main-nav {
  //display: none;
  display: block;
  margin-top: 62px;
  margin-bottom: 12px;

  &--hide {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: block;
    //display: none;

    &--hide {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    margin-left: 72px;
    margin-top: 55px;
  }
}

.page-header__main-nav .main-nav__phone-box,
.page-header__main-nav .main-nav__email-box {
  display: flex;
  align-items: center;
  //background-color: $color-white;
}

.page-header__main-nav .header__social,
.page-header__main-nav .main-nav__phone-box,
.page-header__main-nav .main-nav__email-box {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-header__main-nav .site-nav {
  @media (min-width: $desktop-width) {
    display: flex;
    font-size: 20px;
    margin-top: 0;
  }
}
