.page-footer {
  min-width: 320px;
  margin: 0 auto;
  //background-color: $color-white;
  padding: 25px 25px 18px 25px;
  //background-color: pink;
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  z-index: 5;
  position: relative;
  margin-top: -75px;

  &--catalog {
    margin-top: -8px;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 768px;
    padding: 48px 40px;
    margin-top: -85px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 48px 60px;
    margin-top: -145px;
  }
}

.page-footer__copyright {
  color: $color-grey-dark;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 42px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.page-footer__caption {
  @media (min-width: $tablet-width) {
    margin-right: 25px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    margin-top: 15px;
  }
}

.page-footer__social-list {
  width: 135px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center;

  @include list-style;

  @media (min-width: $tablet-width) {
    padding-right: 7px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 42px;
  }
}

.page-footer__social-link {
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 50px;
  position: relative;
  background-color: $color-yellow-1;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
  }

  &:hover,
  &:focus {
    background-color: $color-yellow-2;
  }

  &:active {
    svg {
      opacity: 30%;
    }
  }

  svg {
    fill: $color-dark-blue-2;
  }
}

.page-footer__social-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: $tablet-width) {
    transform: translate(-50%, -50%) scale(1.3);
  }
}

.page-footer__logo {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.page-footer__link {
  svg {
    fill: $color-dark-blue-1;
    margin-top: 5px;
  }

  &:hover svg,
  &:focus svg {
    opacity: 60%;
  }

  &:active {
    opacity: 30%;
  }
}
