.profile {
  background-color: $color-grey-light-1;
  padding: 25px;

  &__title {
    color: $color-orange-1;

    @include margintb0;
  }

  &__tariff-description {
    color: $color-grey-dark;
  }

  &__tariff-button {
    @include blue-link-caption;
    font-size: 16px;
    line-height: 16px;
  }
}
