.profile {
  background: url("../img/rates@1x.png") no-repeat 170px 25px $color-pale-grey;
  background-size: 40%;
  padding: 70px 26px 38px 50px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
  z-index: 7;
  margin-top: -15px;

  @media (min-width: $tablet-width) {
    background-size: 15%;
    background-position: bottom 50px right 90px;
    padding: 70px 40px 80px;
  }

  @media (min-width: $desktop-width) {
    padding: 104px 131px 162px;
    background-position: top 284px right 132px;
  }
}

.profile__title {
  color: $color-orange-1;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  padding-right: 100px;
  margin: 0;

  @media (min-width: $tablet-width) {
    @include orange-title-tabdesc;
    text-align: center;
    padding-right: 0;
  }
}

.profile__tariff-list {
  @include list-style;
  //margin-right: 44px;

  @media (min-width: $tablet-width) {
    margin-top: 75px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 274px;
  }
}

.profile__tariff-item {
  padding-bottom: 10px;
  border-top: 1px solid $color-pale-grey-5;
  border-bottom: 1px solid $color-pale-grey-5;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 100%;
    //padding-top: 25px;
    //padding-bottom: 25px;
    border-top: 1px solid $color-pale-grey-5;
    flex-direction: row-reverse;
    padding-top: 0;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    //width: 1440px;
    //padding: 0 60px;
  }

  &:last-child {
    @media (min-width: $tablet-width) {
      border-bottom: 1px solid $color-pale-grey-5;
    }
  }
}

.profile__tariff-description {
  color: $color-grey-dark;
  //width: 100%;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 100%;
    font-size: 28px;
    line-height: 33px;
    font-weight: 300;
    justify-content: space-between;
    align-self: center;
  }
}

.profile__tariff-cost {
  color: $color-grey-dark;
  display: block;

  @media (min-width: $tablet-width) {
    min-width: 140px;
    align-self: center;
    align-content: flex-end;
    text-align: right;
    font-size: 28px;
    line-height: 33px;
    font-weight: 300;
  }
}

.profile__tariff-number {
  width: 34px;
  height: 34px;
  border-radius: 100%;
  background-color: $color-yellow-3;
  text-align: center;
  padding-top: 5px;

  @media (min-width: $tablet-width) {
    width: 67px;
    height: 67px;
    font-size: 28px;
    line-height: 28px;
    padding-top: 20px;
  }

  &--first {
    background-color: $color-yellow-3;
  }

  &--second {
    background-color: $color-yellow-2;
  }

  &--third {
    background-color: $color-yellow-1;
  }
}

.profile__tariff-button {
  @include blue-link-caption;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    margin-top: 57px;
    display: flex;
    align-items: center;
    background-color: transparent;
    padding-left: 100px;
  }

  &:hover,
  &:focus {
    color: rgba(19, 37, 118, 0.7);
    //background-color: $color-pale-grey;
    background-color: transparent;

    .profile__tariff-span {
      &::before {
        opacity: 70%;
      }
    }
  }

  &:active {
    color: rgba(19, 37, 118, 0.3);

    .profile__tariff-span {
      &::before {
        opacity: 30%;
      }
    }
  }
}

.profile__tariff-span {
  display: none;
  width: 67px;
  height: 67px;
  background-color: $color-pale-grey-four;
  border-radius: 100px;
  position: relative;

  &::before {
    content: url("../img/business.svg");
    display: block;
    width: 19px;
    height: 21px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
