.profile {
  background: url("../img/rates@1x.png") no-repeat 170px 25px $color-grey-light-1;
  background-size: 40%;
  padding: 70px 26px 38px 50px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  //z-index: 10;
}

.profile__title {
  color: $color-orange-1;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  padding-right: 100px;
  margin: 0;

  @media (min-width: $tablet-width) {
    @include orange-title-tabdesc;
    text-align: center;
  }
}

.profile__tariff-list {
  @include list-style;
  margin-right: 44px;
}

.profile__tariff-item {
  padding-bottom: 10px;
  border-top: 1px solid $color-pale-grey;
  border-bottom: 1px solid $color-pale-grey;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    //width: 1440px;
    //padding: 0 60px;
  }
}

.profile__tariff-description {
  color: $color-grey-dark;
  width: 100%;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 100%;
    font-size: 28px;
    line-height: 33px;
    font-weight: 300;
  }
}

.profile__tariff-cost {
  color: $color-grey-dark;

  @media (min-width: $tablet-width) {
    min-width: 140px;
    align-self: center;
    align-content: flex-end;
    text-align: right;
    font-size: 28px;
    line-height: 33px;
    font-weight: 300;
  }
}

.profile__tariff-button {
  @include blue-link-caption;
  font-size: 16px;
  line-height: 16px;
  background-color: $color-pale-grey;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
  }
}
