.site-nav {
  //display: block;
  //margin: 0 auto;
  //background-color: $color-white;
  //min-width: 320px;
  list-style: none;
  padding-left: 0;
  margin-bottom: 52px;

  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 86px;
    padding-left: 57px;
    margin-bottom: 135px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    margin-right: auto;
    background-color: #161c34;
    margin-bottom: 0;
    padding-left: 0;
  }
}

.site-nav__link {
  font-size: 30px;
  line-height: 36px;
  font-weight: 500;
  display: block;
  text-transform: uppercase;
  color: $color-dark-blue-1;
  text-align: center;

  &:hover,
  &:focus {
    color: $color-yellow-1;
  }

  &:active {
    color: rgba(255, 215, 75, 0.3);
  }

  @media (min-width: $tablet-width) {
    display: inline-block;
    font-size: 60px;
    line-height: 71px;
    font-weight: 500;
    //color: white;
  }

  @media (min-width: $desktop-width) {
    display: block;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    margin-right: 34px;
    color: $color-white;
    //color: red;
    overflow: hidden;
    letter-spacing: 0.5px;

    span {
      position: relative;
      display: inline-block;
      //color: green;
      //-webkit-transition: -webkit-transform 0.3s;
      //-moz-transition: -moz-transform 0.3s;
      transition: transform 0.3s;
    }

    span::before {
      position: absolute;
      top: 100%;
      content: attr(data-hover);
      //color: red;
      //font-weight: 700;
      //-webkit-transform: translate3d(0, 0, 0);
      //-moz-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }

    &:hover span {
      transform: translateY(-100%);
    }
  }
}

.site-nav__item {
  position: relative;
  //margin-right: 25px;

  &:first-child {
    @media (min-width: $desktop-width) {
      &::before {
        content: "";
        display: block;
        width: 60px;
        height: 2px;
        border-radius: 1px;
        background-color: $color-white;
        position: absolute;
        top: 15px;
        left: -100px;
      }
    }
  }
}
