.transport-block {
  &--filter {
    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: row;
      border-bottom: none;
      align-items: center;
      //justify-content: space-between;
    }

    @media (min-width: $desktop-width) {
      display: inline;
      flex-wrap: wrap;
    }
  }
}

.transport-block__content {
  padding-top: 6px;

  &--show {
    display: block;
  }

  &--close {
    display: none;
  }
}

.transport-block__list {
  margin: 0;
  border-bottom: 1px solid $color-macaroni-and-cheese;
  padding-bottom: 20px;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: row;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }

  &--profile {
    border-bottom: none;
    display: flex;
    flex-direction: row;
    padding-top: 12px;
    padding-bottom: 10px;

    @media (min-width: $tablet-width) {
      flex-direction: column;
      align-items: flex-end;
    }

    @media (min-width: $desktop-width) {
      flex-direction: row;
      padding-bottom: 0;
    }
  }

  &--form {
    border-bottom: none;
    justify-content: center;
    padding-bottom: 0;

    button {
      border: none;
      background-color: transparent;
      cursor: pointer;
    }

    @media (min-width: $tablet-width) {
      flex-direction: row;
    }
  }

  &--index-card {
    padding-top: 10px;
    border-bottom: none;
    justify-content: center;
    padding-bottom: 0;

    @media (min-width: $tablet-width) {
      padding-top: 20px;
    }
  }

  &--filter {
    padding-bottom: 18px;
  }
}

.transport-block__button + label {
  svg {
    fill: $color-grey-light-4;
  }
}

.transport-block__button:checked + label {
  svg {
    fill: $color-dark-blue-2;
  }
}

.transport-block__item {
  width: 33px;
  height: 33px;
  background-color: $color-white;
  border-radius: 50px;
  position: relative;

  &:hover svg,
  &:focus svg {
    opacity: 70%;
  }

  &:active {
    background-color: $color-pale-grey-three;

    svg {
      opacity: 30%;
    }
  }

  &:hover .transport-block__item-tooltip {
    display: block;
  }

  &--profile {
    background-color: $color-pale-grey;

    @media (min-width: $tablet-width) {
      background-color: transparent;
    }
  }
}

.transport-block__item-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.transport-block__link {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-dark-blue-2;
  padding-top: 11px;
  padding-bottom: 10px;

  &:hover,
  &:focus {
    color: rgba(29, 46, 91, 0.6);
  }

  &:active {
    color: rgba(29, 46, 91, 0.3);
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    //display: flex;
    //flex-direction: row;
    //border-bottom: none;
  }
}

.transport-block__item .transport-block__item-tooltip {
  //visibility: hidden;
  //width: 120px;
  display: none;
  background-color: $color-tooltip;
  color: $color-white;
  text-align: center;
  padding: 10px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  top: 30px;
}

.transport-block__item .transport-block__item-tooltip::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent $color-tooltip transparent;
}

.transport-block__title {
  display: flex;
  //margin-top: 0;
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }

  button {
    border: none;
    background-color: transparent;
    margin-left: auto;
    padding: 0;

    svg {
      &--open {
        transform: rotate(180deg);
      }

      &--close {
        transform: rotate(180deg);
      }
    }

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: block;
    }
  }

  svg {
    transform: rotate(180deg);
  }
}
