.travel-destinations {
  background-color: $color-pale-grey;
  padding: 90px 25px 30px 25px;
  position: relative;
  z-index: 9;
  margin-top: -20px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  @media (min-width: $tablet-width) {
    padding: 0 40px 80px 40px;
    background-image: url("../img/flags-back@1x.png");
    background-repeat: no-repeat;
    background-size: 290px;
    background-position: right 40px top 100px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/flags-back@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    background-position: right 60px top 105px;
    border-bottom-left-radius: 60px;
    display: flex;
    padding: 180px 90px 140px 132px;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.travel-destination__text-box {
  padding-left: 25px;
  padding-right: 45px;
  padding-bottom: 45px;

  @media (min-width: $tablet-width) {
    padding-left: 35px;
    padding-bottom: 78px;
  }

  @media (min-width: $desktop-width) {
    width: 447px;
    align-self: start;
    margin-right: 75px;
  }
}

.travel-destinations__box {
  position: relative;

  @media (min-width: $desktop-width) {
    order: -1;
    width: 558px;
  }
}

.travel-destinations__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;

  &--thailand {
    z-index: 3;
  }

  &--france {
    z-index: 2;
    //margin-top: -15px;
  }

  &--czech {
    z-index: 1;
    //margin-top: -15px;
    //top: 25px;
    //position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to top, $color-pale-grey 25px, transparent 70px);
      z-index: 10;
    }
  }

  @media (min-width: $tablet-width) {
    flex-direction: row-reverse;
    width: 616px;
    height: 140px;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 560px;
  }
}

.travel-destinations__item-description {
  background-color: $color-white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 20px 25px;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  margin-top: -17px;
  position: relative;
  padding-top: 25px;
  padding-bottom: 6px;

  @media (min-width: $tablet-width) {
    padding: 48px;
    padding-bottom: 56px;
    padding-left: 30px;
    //width: 100%;
    width: 432px;
    //height: 140px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 20px;
    //flex-wrap: wrap;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    display: inline;
    width: 374px;
    padding-top: 40px;
  }
}

.travel-destinations__country-flag {
  position: absolute;
  top: -10px;

  @media (min-width: $tablet-width) {
    top: 35px;
    right: -35px;
    width: 70px;
    height: 47px;
  }

  @media (min-width: $desktop-width) {
    top: 42px;
  }
}

.travel-destinations__picture {
  z-index: 1;

  @media (min-width: $tablet-width) {
    position: relative;
    top: -15px;
  }
}

.travel-destinations__title {
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-top: 90px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}

.travel-destinations__title a {
  margin: 0;

  @include orange-title;

  @media (min-width: $tablet-width) {
    @include orange-title-tabdesc;
    margin-top: 75px;
  }
}

.travel-destinations__description {
  color: $color-grey-dark;
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 33px;
    margin-top: 58px;
    //width: 447px;
    padding-right: 260px;
    display: block;
  }

  @media (min-width: $desktop-width) {
    padding-right: 25px;
    margin-top: 60px;
  }
}

.travel-destinations__img {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 186px;
    height: 140px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 20px;
    margin-top: 15px;
  }
}

.travel-destinations__country {
  margin: 0;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: $color-blue-black-2;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
  }
}

.travel-destinations__slogan {
  @include light-grey-text;
  margin-top: 4px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 18px;
    margin-bottom: 17px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 25px;
  }
}

.travel-destinations__companions-number {
  @include light-grey-text;
  line-height: 30px;
  position: relative;
  //display: inline;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    padding-left: 30px;
    padding-bottom: 25px;
  }

  &::before {
    content: url("../img/user.svg");
    fill: $color-dark-blue-1;
    width: 11px;
    height: 11px;
    opacity: 10%;
    position: absolute;
    left: -15px;

    @media (min-width: $tablet-width) {
      left: 0;
    }
  }
}

.travel-destinations__button {
  @include blue-link-caption;
  padding: 23px;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  //position: relative;
  width: 100%;

  svg {
    fill: $color-dark-blue-2;
    //margin-left: 103px;
  }

  &:active svg {
    opacity: 30%;
  }

  @media (min-width: $tablet-width) {
    border-radius: 15px;
    font-size: 24px;
    line-height: 24px;
    margin-left: 32px;
    margin-right: 32px;
    width: auto;
    margin-top: 48px;
    padding-left: 36px;
    padding-top: 28px;
    padding-bottom: 28px;
    padding-right: 37px;
  }

  @media (min-width: $desktop-width) {
    width: 274px;
    border-radius: 15px;
    align-self: flex-end;
    margin-left: auto;
    margin-right: 217px;
    margin-top: -100px;
  }
}
