.user-destinations {
  background-color: $color-grey-light-2;
  padding: 25px;
  padding-bottom: 40px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  //margin-top: 15px;

  @media (min-width: $tablet-width) {
    padding-left: 75px;
    padding-right: 75px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 126px;
    padding-right: 126px;
  }
}

.user-destinations__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: $color-dark-blue-2;
  //color: red;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 50px;
    //color: green;
    //color: red;
  }

  @media (min-width: $desktop-width) {
    //justify-content: space-around;
  }
}

.user-destinations__plan {
  background-color: $color-white;
  border-radius: 10px;
  padding: 20px 25px;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-around;
  }
}

.user-destinations__country {
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  color: $color-dark-blue-2;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    font-size: 24px;
    line-height: 50px;
    border-bottom: 1px solid $color-grey-light-2;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    display: inline;
    border-bottom: none;
  }
}

.user-destinations__mates,
.user-destinations__dates {
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  color: $color-dark-blue-2;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 33%;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    margin: 0;
    align-self: center;
  }
}

.user-destinations__change-plan {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.302);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 33%;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    margin: 0;
    align-self: center;
  }
}
