.companions {
  background: url(../img/smolov-mobile@1x.jpg) no-repeat top right,
    url("../img/rogovaya-back-mobile@1x.png") no-repeat left bottom;
  background-color: $color-dark-blue-1;
  padding: 25px;

  &__list {
    padding-left: 0;
  }

  &__hashtag-item,
  &__transport-item {
    display: inline;
  }

  &__title a {
    @include orange-title;
  }

  &__description:last-of-type {
    font-weight: 700;
  }

  &__content {
    background-color: $color-white;
  }

  &__name a {
    @include blue-country-name;
  }

  &__hashtag-item {
    @include light-grey-text;
    color: $color-grey-dark;
    font-weight: 400;
  }

  &__button {
    @include blue-link-caption;
    background-color: $color-yellow-1;
  }

  &__countries-to-visit,
  &__transport-type,
  &__travel-mates {
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    color: $color-grey-dark;
  }

  &__travel-mates span {
    font-size: 24px;
    font-weight: 700;
    line-height: 18px;
    color: $color-dark-blue-2;
    text-transform: uppercase;
  }

  &__form-level {
    font-size: 38px;
    font-weight: 700;
    line-height: 38px;
    color: $color-blue-black-2;
  }

  &__countries-item {
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    color: $color-dark-blue-2;
    text-transform: uppercase;
  }

  &__likes {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    color: $color-blue-black;
    text-transform: uppercase;
  }

  &__view-button {
    font-size: 17px;
    font-weight: 700;
    line-height: 30px;
    color: $color-blue-black;
    text-transform: uppercase;
    background-color: $color-yellow-1;
  }

  &__button--more {
    text-transform: uppercase;
    background-color: $color-grey-light-1;
  }

  &__hashtag-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    color: $color-dark-blue-2;
  }

  &__transport-type {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    color: $color-dark-blue-2;
    text-transform: uppercase;
  }
}
