// COLOR VARIABLES
$color-blue-black: #161c36; // основной темно-синий цвет сайта
$color-blue-black-2: #161c35; // основной цвет заголовков
$color-dark-blue-1: #192144; // основной синий цвет блоков
$color-dark-blue-2: #1d2e5b; // основной синий цвет сайта
$color-primary-medium-2: #132576; // основной синий цвет текста
$color-dark-blue-3: #121936;  // фоновый цвет иконок

$color-white: #ffffff; // белый цвет отдельных блоков, текста
$color-grey-light-1: #edeff6; // светлый фоновый цвет отдельных блоков
$color-grey-light-2: #dfe3f0; // светлый фоновый цвет кнопок
$color-grey-light-3: #cbced9; // светло-серый цвет обводки
$color-grey-light-4: #d9d9d9; // светло-серый цвет иконок, цвет текста в пустых полях ввода
$color-grey-light-5: #d4d9eb; // светло-серый фоновый цвет отдельных блоков, всей страницы
$color-grey-light-6: #c7c7c7; // светло-серый цвет текста
$color-grey-light-7: #a5aabd; // светло-серый цвет текста
$color-grey-dark: #444444; // темно-серый цвет текста

$color-yellow-1: #ffd74b; // светло-желтый цвет кнопок и блоков, текст и иконки тел, почта, есть
$color-yellow-2: #ffbd30; // желтый цвет отдельных блоков, кнопок, есть
$color-yellow-3: #ffa530; // желто-оранжевый цвет отдельных блоков
$color-yellow-4: #f3c72b; // цвет линии в catalog.html
$color-yellow-brown: #5e503e; // цвет, кнопок, текста

$color-orange-1: #ff8d30; // оранжевый цвет отдельных блоков, текста, обводки есть
$color-orange-2: #f26926; // цвет круглых кнопок
$color-orange-3: #ff5c23; // оранжевый цвет Календарь


$color-green-1: #81e31e; // цвет маркера

$color-pink-1: #f9eaea; // цвет фона иконки в карточках попутчиков
$color-pink-2: #f97676; // цвет маркера в карточках попутчиков


$tablet-width: 768px;
$desktop-width: 1440px;

$border-topleft-radius: 30px;
$border-topright-radius: 30px;
$border-bottomright-radius: 30px;
$border-bottomleft-radius: 30px;
