// COLOR VARIABLES
$color-blue-black: #161c36; // основной темно-синий цвет сайта
$color-blue-black-2: #161c35; // основной цвет заголовков
$color-blue-black-3: #161c34; // основной цвет сайта
$color-dark-blue-1: #192144; // основной синий цвет блоков
$color-dark-blue-2: #1d2e5b; // основной синий цвет сайта
$color-primary-medium-2: #132576; // основной синий цвет текста
$color-dark-blue-3: #121936;  // фоновый цвет иконок
$color-medium-blue: #182044;
$color-black: #000000;

$color-white: #ffffff; // белый цвет отдельных блоков, текста
$color-grey-light-2: #dfe3f0; // светлый фоновый цвет кнопок
$color-grey-light-3: #cbced9; // светло-серый цвет обводки
$color-grey-light-4: #d9d9d9; // светло-серый цвет иконок, цвет текста в пустых полях ввода
$color-grey-light-5: #d4d9eb; // светло-серый фоновый цвет отдельных блоков, всей страницы
$color-grey-light-6: #c7c7c7; // светло-серый цвет текста
$color-grey-light-7: #a5aabd; // светло-серый цвет текста
$color-grey-dark: #444444; // темно-серый цвет текста

$color-yellow-1: #ffd74b; // светло-желтый цвет кнопок и блоков, текст и иконки тел, почта, есть
$color-yellow-2: #ffbd30; // желтый цвет отдельных блоков, кнопок, есть
$color-yellow-3: #ffa530; // желто-оранжевый цвет отдельных блоков
$color-yellow-4: #f3c72b; // цвет линии в catalog.html
$color-yellow-brown: #5e503e; // цвет, кнопок, текста

$color-orange-1: #ff8d30; // оранжевый цвет отдельных блоков, текста, обводки есть
$color-orange-2: #f26926; // цвет круглых кнопок
$color-orange-3: #ff5c23; // оранжевый цвет Календарь


$color-green-1: #81e31e; // цвет маркера

$color-pink-1: #f9eaea; // цвет фона иконки в карточках попутчиков
$color-pink-2: #f97676; // цвет маркера в карточках попутчиков


$tablet-width: 768px;
$desktop-width: 1440px;

$border-topleft-radius: 30px;
$border-topright-radius: 30px;
$border-bottomright-radius: 30px;
$border-bottomleft-radius: 30px;

$color-greyborder: #cbced9;  // cерый цвет обводки инпутов
$color-pale-grey-four: #e2e5f2; // cерый цвет больших блоков
$color-pale-grey: #edeff6;  // основной цвет страницы
$color-pale-grey-2: #d6daed; //цвет кнопки в фильтре
$color-pale-grey-3: #babecf;
$color-pale-grey-4: #f2f2f2;
$color-pale-grey-5: #e1e3e9;
$color-macaroni-and-cheese: #f3c72b;  //цвет border
$color-dark-slate-blue: #1d2e5b;
$color-grey-line: #d6d9e6;
$color-grey-input: #88888b;
$color-grey-input-hvr: #aeb4cb;
$color-blue-figure: #141b3b;
$color-tooltip: #101d41;
$color-light-blue-grey-four: #c8cee8;
$color-blue-grey: #959bb2;
$color-tomato: #f02323;
$color-very-light-pink-two: #f9eaea;
$color-light-tan: #f9d8d8;
$color-light-blue-grey: #d1d7e9;
$color-pale-grey-three: #e2e5f1;
